{% if collection.image and collectionImage %}
  <div class="collection-header">
    {%
      include 'rimg',
      img: collection.image,
      size: '1024x1024',
      lazy: true
    %}

    <div class="collection-details">
      <h1>{{ collection.title }}</h1>
      {% if collection.description != blank %}
        <div class="collection-description rte">
         {{ collection.description | strip_html | truncatewords: 20 }}
        </div>

        {% capture shortDescription %}{{ collection.description | strip_html | truncatewords: 20 }}{% endcapture %}
        {% if collection.description.size > shortDescription.size %}
          <span class="collection-description-more">{{ 'collections.collection.read_more' | t }}</span>
          <script
            type="application/json"
            data-collection-json >
              {{ collection | json }}
          </script>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% else %}
  <h1 class="page-title">{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div class="collection-description rte">
      {{ collection.description }}
    </div>
  {% endif %}
{% endif %}
