{%- capture icons -%}
{%- capture shared_attr -%}class="svg-icon icon-{{ icon }} {{ class }}" xmlns="http://www.w3.org/2000/svg"{%- endcapture -%}

{% assign width = '1.5' %}
{% if settings.icon_stroke_width == 'thin' %}
  {% assign width = '1' %}
{% elsif settings.icon_stroke_width == 'thick' %}
  {% assign width = '2' %}
{% endif %}

  {% if icon == 'ar' %}
    <svg {{ shared_attr }} viewBox="0 0 60 60">
      <path fill="currentColor" d="M40.4 22.57l-8.8-5.14a3.19 3.19 0 00-3.21 0l-8.8 5.14A3.24 3.24 0 0018 25.36v10.28a3.23 3.23 0 001.6 2.79l8.8 5.14a3.2 3.2 0 003.21 0l8.8-5.14A3.23 3.23 0 0042 35.64V25.36a3.24 3.24 0 00-1.6-2.79zM20.6 36.7a1.23 1.23 0 01-.6-1.06V25.36a1.23 1.23 0 01.6-1.06l8.8-5.14a1.19 1.19 0 011.19 0l8.8 5.14a1.2 1.2 0 01.36.34l-9.51 4.89a2.23 2.23 0 00-1.25 2V41.6z"/>
    </svg>
  {% endif %}

  {% if icon == 'model-thumb' %}
    <svg {{ shared_attr }} width="26" height="26" viewBox="0 0 26 26">
      <path d="M1,25H25V1H1Z" fill="none"/>
      <path d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z" fill="currentColor" style="isolation:isolate"/>
    </svg>
  {% endif %}

  {% if icon == 'play-thumb' %}
    <svg {{ shared_attr }} width="26" height="26" viewBox="0 0 26 26" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1 25H25V1H1V25Z" fill="none"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71814 6.71984C9.0517 6.31605 8.19995 6.79588 8.19995 7.5751V18.311C8.19995 19.1138 9.09826 19.5893 9.76217 19.1379L18.1123 13.4612C18.7146 13.0518 18.6912 12.1564 18.0682 11.779L9.71814 6.71984Z" fill="currentColor"/>
    </svg>
  {% endif %}

{% if icon == 'check' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M16.6666 5.41669L7.49992 14.5834L3.33325 10.4167" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-down' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M5 7.5L10 12.5L15 7.5" fill="transparent" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}
{%- endcapture -%}

{% if icon == 'chevron-left' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M12.5 15L7.5 10L12.5 5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-right' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M7.5 15L12.5 10L7.5 5" fill="none" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-up' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M15 12.5L10 7.5L5 12.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'close-circle' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 1.66669C5.39771 1.66669 1.66675 5.39765 1.66675 10C1.66675 14.6024 5.39771 18.3334 10.0001 18.3334C14.6025 18.3334 18.3334 14.6024 18.3334 10C18.3334 5.39765 14.6025 1.66669 10.0001 1.66669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.5L7.5 12.5L12.5 7.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 7.5L12.5 12.5L7.5 7.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'close' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M15 5L10 10L5 15" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M5 5L10 10L15 15" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'facebook' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5834 1.66669H12.0834C9.78223 1.66669 7.91675 3.53217 7.91675 5.83335V8.33335H5.41675V11.6667H7.91675V18.3334H11.2501V11.6667H13.7501L14.5834 8.33335H11.2501V5.83335C11.2501 5.37312 11.6232 5.00002 12.0834 5.00002H14.5834V1.66669Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'instagram' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C12.716 0 13.057 0.0119999 14.123 0.0599999C15.748 0.134 17.176 0.533 18.322 1.678C19.468 2.824 19.866 4.252 19.94 5.877C19.988 6.943 20 7.284 20 10C20 12.716 19.988 13.057 19.94 14.123C19.866 15.748 19.467 17.176 18.322 18.322C17.176 19.468 15.748 19.866 14.123 19.94C13.057 19.988 12.716 20 10 20C7.284 20 6.943 19.988 5.877 19.94C4.252 19.866 2.824 19.467 1.678 18.322C0.533 17.176 0.134 15.748 0.0599999 14.123C0.0119999 13.057 0 12.716 0 10C0 7.284 0.0119999 6.943 0.0599999 5.877C0.134 4.252 0.533 2.824 1.678 1.678C2.824 0.533 4.252 0.134 5.877 0.0599999C6.943 0.0119999 7.284 0 10 0ZM10 1.802C7.33 1.802 7.013 1.812 5.96 1.86C4.82 1.912 3.765 2.14 2.952 2.952C2.14 3.765 1.912 4.821 1.86 5.959C1.812 7.013 1.802 7.33 1.802 10C1.802 12.67 1.812 12.987 1.86 14.04C1.912 15.18 2.14 16.235 2.952 17.048C3.765 17.86 4.821 18.088 5.959 18.14C7.013 18.188 7.33 18.198 10 18.198C12.67 18.198 12.987 18.188 14.04 18.14C15.18 18.088 16.235 17.86 17.048 17.047C17.86 16.235 18.088 15.179 18.14 14.041C18.188 12.987 18.198 12.67 18.198 10C18.198 7.33 18.188 7.013 18.14 5.96C18.088 4.82 17.86 3.765 17.047 2.952C16.235 2.14 15.179 1.912 14.041 1.86C12.987 1.812 12.67 1.802 10 1.802V1.802ZM10 4.865C10.6743 4.865 11.3421 4.99782 11.9651 5.25588C12.5881 5.51394 13.1542 5.89218 13.631 6.36901C14.1078 6.84584 14.4861 7.41191 14.7441 8.03492C15.0022 8.65793 15.135 9.32566 15.135 10C15.135 10.6743 15.0022 11.3421 14.7441 11.9651C14.4861 12.5881 14.1078 13.1542 13.631 13.631C13.1542 14.1078 12.5881 14.4861 11.9651 14.7441C11.3421 15.0022 10.6743 15.135 10 15.135C8.63811 15.135 7.33201 14.594 6.36901 13.631C5.40601 12.668 4.865 11.3619 4.865 10C4.865 8.63811 5.40601 7.33201 6.36901 6.36901C7.33201 5.40601 8.63811 4.865 10 4.865V4.865ZM10 13.333C10.8841 13.333 11.732 12.9818 12.3571 12.3566C12.9823 11.7315 13.3335 10.8836 13.3335 9.9995C13.3335 9.1154 12.9823 8.26751 12.3571 7.64236C11.732 7.01721 10.8841 6.666 10 6.666C9.1159 6.666 8.26801 7.01721 7.64286 7.64236C7.01771 8.26751 6.6665 9.1154 6.6665 9.9995C6.6665 10.8836 7.01771 11.7315 7.64286 12.3566C8.26801 12.9818 9.1159 13.333 10 13.333V13.333ZM15.338 5.862C15.0197 5.862 14.7145 5.73557 14.4895 5.51053C14.2644 5.28548 14.138 4.98026 14.138 4.662C14.138 4.34374 14.2644 4.03852 14.4895 3.81347C14.7145 3.58843 15.0197 3.462 15.338 3.462C15.6563 3.462 15.9615 3.58843 16.1865 3.81347C16.4116 4.03852 16.538 4.34374 16.538 4.662C16.538 4.98026 16.4116 5.28548 16.1865 5.51053C15.9615 5.73557 15.6563 5.862 15.338 5.862Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'kickstarter' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M8.43781 7.45333L11.51 3.2C12.0923 2.4 12.8408 2 13.7632 2C14.5117 2 15.1611 2.254 15.7106 2.76267C16.2573 3.27267 16.5317 3.87933 16.5317 4.588C16.5317 5.11067 16.3871 5.574 16.096 5.974L13.3261 9.82L16.7146 13.922C17.0526 14.33 17.2222 14.8087 17.2222 15.3553C17.2222 16.0793 16.9562 16.7007 16.4228 17.2207C15.8907 17.74 15.2455 18 14.488 18C13.6578 18 13.0238 17.742 12.5881 17.2267L8.4385 12.282V15.008C8.4385 15.7867 8.29746 16.3907 8.01468 16.8227C7.50008 17.6073 6.75577 18 5.77127 18C4.87614 18 4.1821 17.7093 3.69125 17.134C3.23042 16.6013 3 15.8967 3 15.0193V4.91C3 4.08 3.2346 3.394 3.70102 2.85467C4.18839 2.28533 4.86567 2 5.73007 2C6.55329 2 7.23825 2.28533 7.78706 2.85467C8.09288 3.17133 8.28629 3.49 8.36729 3.81467C8.41616 4.01467 8.4406 4.38667 8.4406 4.93467V7.45333H8.43781V7.45333Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'mail' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33335 3.33337H16.6667C17.5834 3.33337 18.3334 4.08337 18.3334 5.00004V15C18.3334 15.9167 17.5834 16.6667 16.6667 16.6667H3.33335C2.41669 16.6667 1.66669 15.9167 1.66669 15V5.00004C1.66669 4.08337 2.41669 3.33337 3.33335 3.33337Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M18.3334 5L10 10.8333L1.66669 5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'menu' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M2.5 5H17.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.5 10H15.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.5 15H12.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'minus' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M4.16675 10H15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'more' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 9.16669C9.53984 9.16669 9.16675 9.53978 9.16675 10C9.16675 10.4603 9.53984 10.8334 10.0001 10.8334C10.4603 10.8334 10.8334 10.4603 10.8334 10C10.8334 9.53978 10.4603 9.16669 10.0001 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8333 9.16669C15.3731 9.16669 15 9.53978 15 10C15 10.4603 15.3731 10.8334 15.8333 10.8334C16.2936 10.8334 16.6667 10.4603 16.6667 10C16.6667 9.53978 16.2936 9.16669 15.8333 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16659 9.16669C3.70635 9.16669 3.33325 9.53978 3.33325 10C3.33325 10.4603 3.70635 10.8334 4.16659 10.8334C4.62682 10.8334 4.99992 10.4603 4.99992 10C4.99992 9.53978 4.62682 9.16669 4.16659 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'pacific-logo' %}
  <svg {{ shared_attr }} width="117" height="19" fill="none">
    <path d="M0.460938 1.19531V18H4.07031V12.4805H7.53906C9.27344 12.4805 10.7031 11.9414 11.8398 10.8633C12.9648 9.78516 13.5391 8.4375 13.5391 6.84375C13.5391 5.25 12.9648 3.90234 11.8281 2.82422C10.6914 1.74609 9.26172 1.20703 7.53906 1.20703L0.460938 1.19531ZM7.42188 4.45312C8.13672 4.45312 8.73438 4.67578 9.21484 5.14453C9.69531 5.61328 9.94141 6.17578 9.94141 6.85547C9.94141 7.52344 9.69531 8.08594 9.21484 8.55469C8.73438 9.01172 8.13672 9.24609 7.42188 9.24609H4.07031V4.45312H7.42188Z" fill="currentColor"/>
    <path d="M28.4219 10.9219H24.332L26.3828 5.40234L28.4219 10.9219ZM29.6172 14.0391L31.0586 18H34.9023L28.293 1.19531H24.4609L17.8516 18H21.6953L23.1367 14.0391H29.6172Z" fill="currentColor"/>
    <path d="M48.4727 0.84375C45.9062 0.84375 43.7383 1.69922 41.9805 3.41016C40.2227 5.12109 39.3438 7.18359 39.3438 9.59766C39.3438 12.0117 40.2227 14.0859 41.9805 15.7969C43.7383 17.5078 45.9062 18.3633 48.4727 18.3633C49.3398 18.3633 50.1836 18.2461 51.0039 18C51.8242 17.7656 52.4805 17.4961 52.9844 17.2031C53.4883 16.9102 53.957 16.5703 54.4023 16.1836C54.8477 15.7969 55.1289 15.5273 55.2578 15.375C55.3867 15.2227 55.4805 15.0938 55.5508 15L53.3828 12.7148L53.1953 12.9609C53.0664 13.1367 52.8672 13.3359 52.5859 13.5703C52.3047 13.8047 51.9766 14.0391 51.6133 14.2734C51.2383 14.5078 50.7812 14.707 50.2188 14.8711C49.6562 15.0352 49.082 15.1172 48.4727 15.1172C46.9023 15.1172 45.5898 14.5898 44.5352 13.5352C43.4805 12.4805 42.9531 11.168 42.9531 9.59766C42.9531 8.02734 43.4805 6.71484 44.5352 5.66016C45.5898 4.60547 46.9023 4.07812 48.4727 4.07812C49.0352 4.07812 49.5977 4.17188 50.1484 4.34766C50.6875 4.52344 51.1328 4.71094 51.4727 4.92188C51.8008 5.13281 52.1172 5.36719 52.3984 5.63672C52.6797 5.91797 52.8672 6.10547 52.9492 6.22266C53.0312 6.33984 53.1016 6.42188 53.1484 6.48047L55.4336 4.19531L55.1641 3.84375C54.9883 3.62109 54.707 3.33984 54.3086 3.01172C53.9102 2.68359 53.4648 2.35547 52.9492 2.02734C52.4336 1.69922 51.7891 1.42969 50.9922 1.19531C50.1953 0.960938 49.3516 0.84375 48.4727 0.84375Z" fill="currentColor"/>
    <path d="M61.4219 18H65.0312V1.19531H61.4219V18Z" fill="currentColor"/>
    <path d="M72.3438 1.19531V18H75.9531V11.4023H82.7852V8.15625H75.9531V4.44141H84.707V1.19531H72.3438Z" fill="currentColor"/>
    <path d="M90.8125 18H94.4219V1.19531H90.8125V18Z" fill="currentColor"/>
    <path d="M109.902 0.84375C107.336 0.84375 105.168 1.69922 103.41 3.41016C101.652 5.12109 100.773 7.18359 100.773 9.59766C100.773 12.0117 101.652 14.0859 103.41 15.7969C105.168 17.5078 107.336 18.3633 109.902 18.3633C110.77 18.3633 111.613 18.2461 112.434 18C113.254 17.7656 113.91 17.4961 114.414 17.2031C114.918 16.9102 115.387 16.5703 115.832 16.1836C116.277 15.7969 116.559 15.5273 116.688 15.375C116.816 15.2227 116.91 15.0938 116.98 15L114.812 12.7148L114.625 12.9609C114.496 13.1367 114.297 13.3359 114.016 13.5703C113.734 13.8047 113.406 14.0391 113.043 14.2734C112.668 14.5078 112.211 14.707 111.648 14.8711C111.086 15.0352 110.512 15.1172 109.902 15.1172C108.332 15.1172 107.02 14.5898 105.965 13.5352C104.91 12.4805 104.383 11.168 104.383 9.59766C104.383 8.02734 104.91 6.71484 105.965 5.66016C107.02 4.60547 108.332 4.07812 109.902 4.07812C110.465 4.07812 111.027 4.17188 111.578 4.34766C112.117 4.52344 112.562 4.71094 112.902 4.92188C113.23 5.13281 113.547 5.36719 113.828 5.63672C114.109 5.91797 114.297 6.10547 114.379 6.22266C114.461 6.33984 114.531 6.42188 114.578 6.48047L116.863 4.19531L116.594 3.84375C116.418 3.62109 116.137 3.33984 115.738 3.01172C115.34 2.68359 114.895 2.35547 114.379 2.02734C113.863 1.69922 113.219 1.42969 112.422 1.19531C111.625 0.960938 110.781 0.84375 109.902 0.84375Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'pinterest' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.479 0 0 4.477 0 10C7.06778e-05 12.0111 0.606561 13.9754 1.74027 15.6364C2.87399 17.2975 4.48223 18.5781 6.355 19.311C6.268 18.521 6.189 17.306 6.39 16.443C6.573 15.662 7.563 11.472 7.563 11.472C7.563 11.472 7.263 10.872 7.263 9.987C7.263 8.599 8.071 7.558 9.073 7.558C9.927 7.558 10.338 8.199 10.338 8.967C10.338 9.826 9.793 11.108 9.511 12.297C9.273 13.293 10.011 14.103 10.991 14.103C12.767 14.103 14.135 12.23 14.135 9.526C14.135 7.132 12.415 5.458 9.957 5.458C7.112 5.458 5.444 7.592 5.444 9.798C5.444 10.657 5.773 11.578 6.185 12.079C6.268 12.179 6.279 12.267 6.257 12.367C6.182 12.682 6.012 13.362 5.977 13.5C5.934 13.683 5.834 13.723 5.643 13.634C4.395 13.053 3.613 11.227 3.613 9.759C3.613 6.605 5.905 3.709 10.222 3.709C13.69 3.709 16.387 6.181 16.387 9.484C16.387 12.93 14.212 15.705 11.196 15.705C10.183 15.705 9.231 15.178 8.904 14.555L8.279 16.933C8.054 17.801 7.445 18.89 7.037 19.553C7.974 19.843 8.968 20 9.999 20C15.521 20 20 15.523 20 10C20 4.478 15.521 0.000999928 10 0.000999928V0Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'play' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path stroke="currentColor" stroke-width="{{- width -}}" d="M10.0001 1.66669c-4.60239 0-8.33335 3.73096-8.33335 8.33331 0 4.6024 3.73096 8.3334 8.33335 8.3334 4.6024 0 8.3333-3.731 8.3333-8.3334 0-4.60235-3.7309-8.33331-8.3333-8.33331z" clip-rule="evenodd"/>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="{{- width -}}" d="M13.3335 10l-5-3.33331v6.66671l5-3.3334z"/>
  </svg>
{% endif %}

{% if icon == 'plus' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M10 4.16669V15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.16675 10H15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'rss' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M3.33325 8.41663C2.91904 8.41663 2.58325 8.75241 2.58325 9.16663C2.58325 9.58084 2.91904 9.91663 3.33325 9.91663V8.41663ZM10.0833 16.6666C10.0833 17.0808 10.419 17.4166 10.8333 17.4166C11.2475 17.4166 11.5833 17.0808 11.5833 16.6666H10.0833ZM3.33325 2.58331C2.91904 2.58331 2.58325 2.9191 2.58325 3.33331C2.58325 3.74753 2.91904 4.08331 3.33325 4.08331V2.58331ZM15.9166 16.6666C15.9166 17.0809 16.2524 17.4166 16.6666 17.4166C17.0808 17.4166 17.4166 17.0809 17.4166 16.6666H15.9166ZM3.33325 9.91663C7.06117 9.91663 10.0833 12.9387 10.0833 16.6666H11.5833C11.5833 12.1103 7.8896 8.41663 3.33325 8.41663V9.91663ZM3.33325 4.08331C10.2828 4.08331 15.9166 9.71706 15.9166 16.6666H17.4166C17.4166 8.88864 11.1113 2.58331 3.33325 2.58331V4.08331ZM4.16659 14.25C3.29213 14.25 2.58325 14.9589 2.58325 15.8333H4.08325C4.08325 15.7873 4.12056 15.75 4.16659 15.75V14.25ZM2.58325 15.8333C2.58325 16.7078 3.29213 17.4167 4.16659 17.4167V15.9167C4.12056 15.9167 4.08325 15.8794 4.08325 15.8333H2.58325ZM4.16659 17.4167C5.04104 17.4167 5.74992 16.7078 5.74992 15.8333H4.24992C4.24992 15.8794 4.21261 15.9167 4.16659 15.9167V17.4167ZM5.74992 15.8333C5.74992 14.9589 5.04104 14.25 4.16659 14.25V15.75C4.21261 15.75 4.24992 15.7873 4.24992 15.8333H5.74992Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon =='sale-tag' %}
  <svg {{ shared_attr }} width="350" height="350" viewBox="0 0 350 350" fill="none" >
    <path d="M14.1105 184.325L20.4325 190.654L20.4364 190.65L14.1105 184.325ZM179.23 19.2054L172.904 12.8794L172.904 12.8795L179.23 19.2054ZM203.87 9L203.87 17.9461H203.87V9ZM341 146.13L332.054 146.13L332.054 146.13L341 146.13ZM330.795 170.77L337.121 177.096L337.121 177.096L330.795 170.77ZM165.675 335.889L159.35 329.564L159.346 329.567L165.675 335.889ZM141.021 335.889L147.351 329.567L147.347 329.564L141.021 335.889ZM14.1105 208.979L20.4364 202.653L20.4325 202.649L14.1105 208.979ZM7.78857 177.995C2.83646 182.941 0.0538931 189.653 0.0538931 196.652H17.9461C17.9461 194.402 18.8406 192.244 20.4325 190.654L7.78857 177.995ZM172.904 12.8795L7.78469 177.999L20.4364 190.65L185.556 25.5312L172.904 12.8795ZM203.87 0.0538931C192.256 0.0534675 181.117 4.66693 172.904 12.8794L185.555 25.5314C190.413 20.6744 197 17.9459 203.87 17.9461L203.87 0.0538931ZM326.565 0.0538931H203.87V17.9461H326.565V0.0538931ZM349.946 23.4348C349.946 10.5219 339.478 0.0538931 326.565 0.0538931V17.9461C329.597 17.9461 332.054 20.4035 332.054 23.4348H349.946ZM349.946 146.13V23.4348H332.054V146.13H349.946ZM337.121 177.096C345.333 168.883 349.947 157.744 349.946 146.13L332.054 146.13C332.054 153 329.326 159.587 324.469 164.445L337.121 177.096ZM172.001 342.215L337.121 177.096L324.469 164.444L159.35 329.564L172.001 342.215ZM153.348 349.946C160.347 349.946 167.059 347.164 172.005 342.211L159.346 329.567C157.756 331.159 155.598 332.054 153.348 332.054V349.946ZM134.691 342.211C139.637 347.164 146.349 349.946 153.348 349.946V332.054C151.098 332.054 148.941 331.159 147.351 329.567L134.691 342.211ZM7.78469 215.305L134.695 342.215L147.347 329.564L20.4364 202.653L7.78469 215.305ZM0.0538931 196.652C0.0538931 203.651 2.83647 210.363 7.78857 215.309L20.4325 202.649C18.8406 201.059 17.9461 198.902 17.9461 196.652H0.0538931ZM276.043 104.555C292.942 104.555 306.642 90.8558 306.642 73.9569H288.75C288.75 80.9742 283.061 86.6629 276.043 86.6629V104.555ZM245.445 73.9569C245.445 90.8558 259.145 104.555 276.043 104.555V86.6629C269.026 86.6629 263.337 80.9742 263.337 73.9569H245.445ZM276.043 43.3586C259.145 43.3586 245.445 57.0579 245.445 73.9569H263.337C263.337 66.9395 269.026 61.2508 276.043 61.2508V43.3586ZM306.642 73.9569C306.642 57.0579 292.942 43.3586 276.043 43.3586V61.2508C283.061 61.2508 288.75 66.9395 288.75 73.9569H306.642Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'search' %}
  <svg {{ shared_attr }} viewBox="0 0 20 20" width="20" height="20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 17.5L15.6875 15.6875L13.875 13.875L17.5 17.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'shopping-basket' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M3 5.2L5.33333 2H14.6667L17 5.2V16.4C17 16.8243 16.8361 17.2313 16.5444 17.5314C16.2527 17.8314 15.857 18 15.4444 18H4.55556C4.143 18 3.74733 17.8314 3.45561 17.5314C3.16389 17.2313 3 16.8243 3 16.4V5.2Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3 5.20001H17" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.1111 8.40002C13.1111 9.24872 12.7834 10.0626 12.1999 10.6628C11.6165 11.2629 10.8251 11.6 10 11.6C9.17491 11.6 8.38359 11.2629 7.80014 10.6628C7.21669 10.0626 6.88892 9.24872 6.88892 8.40002" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'shopping-cart' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M2 2H4.90909L6.85818 12.2019C6.99544 12.9259 7.60828 13.4427 8.31273 13.4286H15.3818C16.0863 13.4427 16.6991 12.9259 16.8364 12.2019L18 5.80952H5.63636" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.81834 16.4763C7.41668 16.4763 7.09106 16.8174 7.09106 17.2382C7.09106 17.659 7.41668 18.0001 7.81834 18.0001C8.22 18.0001 8.54561 17.659 8.54561 17.2382C8.54561 16.8174 8.22 16.4763 7.81834 16.4763Z" stroke="currentColor" stroke-width="{{- width -}}"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8183 16.4763C15.4167 16.4763 15.0911 16.8174 15.0911 17.2382C15.0911 17.659 15.4167 18.0001 15.8183 18.0001C16.22 18.0001 16.5456 17.659 16.5456 17.2382C16.5456 16.8174 16.22 16.4763 15.8183 16.4763Z" stroke="currentColor" stroke-width="{{- width -}}"/>
  </svg>
{% endif %}

{% if icon == 'star' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'star-filled' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 2.07501L12.5751 7.29168L18.3334 8.13335L14.1667 12.1917L15.1501 17.925L10.0001 15.2167L4.85008 17.925L5.83341 12.1917L1.66675 8.13335L7.42508 7.29168L10.0001 2.07501Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'twitter' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1666 2.53193C18.3686 3.09483 17.485 3.52535 16.5499 3.80693C15.5219 2.62488 13.8652 2.21036 12.4017 2.76897C10.9381 3.32759 9.97892 4.74051 9.99992 6.30693V7.14026C7.02547 7.21739 4.20994 5.80024 2.49992 3.36526C2.49992 3.36526 -0.833415 10.8653 6.66659 14.1986C4.95036 15.3636 2.90588 15.9477 0.833252 15.8653C8.33325 20.0319 17.4999 15.8653 17.4999 6.28193C17.4992 6.04981 17.4768 5.81826 17.4333 5.59026C18.2838 4.75151 18.8839 3.69252 19.1666 2.53193Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'user-account' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3333 17.5V15.8333C16.3333 13.9924 14.8409 12.5 12.9999 12.5H7.16659C5.32564 12.5 3.83325 13.9924 3.83325 15.8333V17.5H16.3333Z" stroke="currentColor" stroke-width="{{- width -}}"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0833 2.5C8.24238 2.5 6.75 3.99238 6.75 5.83333C6.75 7.67428 8.24238 9.16667 10.0833 9.16667C11.9243 9.16667 13.4167 7.67428 13.4167 5.83333C13.4167 3.99238 11.9243 2.5 10.0833 2.5Z" stroke="currentColor" stroke-width="{{- width -}}"/>
  </svg>
{% endif %}

{% if icon == 'vimeo' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M18.9823 5.60919C18.9036 7.36265 17.6781 9.76634 15.3119 12.8158C12.861 16.0009 10.7925 17.5932 9.09455 17.5932C8.03783 17.5932 7.1611 16.6227 6.42987 14.6825L4.9914 9.3471C4.45216 7.40915 3.87543 6.43867 3.25744 6.43867C3.1232 6.43867 2.65296 6.72217 1.84673 7.28765L1 6.19493C1.88873 5.41195 2.76321 4.63197 3.62569 3.84899C4.80991 2.82301 5.69938 2.28528 6.29112 2.22978C7.69134 2.09478 8.55306 3.05476 8.87631 5.10821C9.22505 7.3229 9.46804 8.69987 9.60454 9.23835C10.0088 11.0758 10.4528 11.9938 10.9365 11.9938C11.313 11.9938 11.8785 11.3968 12.6352 10.2051C13.3882 9.01336 13.7902 8.10738 13.8442 7.48415C13.9522 6.45592 13.5479 5.93844 12.6337 5.93844C12.2032 5.93844 11.7585 6.02918 11.301 6.23168C12.1905 3.33075 13.8764 1.91403 16.3724 2.00403C18.2271 2.04903 19.0933 3.252 18.9921 5.60169L18.9823 5.60919V5.60919Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'youtube' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M18.6242 5.94248C18.5199 5.56867 18.3209 5.22808 18.0465 4.95365C17.772 4.67922 17.4314 4.48023 17.0576 4.3759C15.6546 4.00001 10.008 4.00001 10.008 4.00001C10.008 4.00001 4.37567 3.99251 2.95839 4.3759C2.58457 4.48023 2.24399 4.67922 1.96956 4.95365C1.69513 5.22808 1.49613 5.56867 1.39181 5.94248C1.12585 7.3789 0.99473 8.83703 1.00016 10.2979C0.995757 11.7532 1.12687 13.2057 1.39181 14.6367C1.49613 15.0105 1.69513 15.3511 1.96956 15.6255C2.24399 15.9 2.58457 16.099 2.95839 16.2033C4.35991 16.5799 10.008 16.5799 10.008 16.5799C10.008 16.5799 15.6396 16.5799 17.0576 16.2033C17.4314 16.099 17.772 15.9 18.0465 15.6255C18.3209 15.3511 18.5199 15.0105 18.6242 14.6367C18.8836 13.2052 19.0092 11.7526 18.9994 10.2979C19.0102 8.83755 18.8846 7.37942 18.6242 5.94248V5.94248ZM8.20584 12.9921V7.59535L12.9056 10.2979L8.20584 12.9921Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'shopping-bag' %}
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.25 6.75H3.75C3.33579 6.75 3 7.08579 3 7.5V19.5C3 19.9142 3.33579 20.25 3.75 20.25H20.25C20.6642 20.25 21 19.9142 21 19.5V7.5C21 7.08579 20.6642 6.75 20.25 6.75Z" stroke="#221F1F" stroke-width="1.5" stroke-linecap="square"/>
    <path d="M8.25 9.75V6.75C8.25 5.75544 8.64509 4.80161 9.34835 4.09835C10.0516 3.39509 11.0054 3 12 3C12.9946 3 13.9484 3.39509 14.6517 4.09835C15.3549 4.80161 15.75 5.75544 15.75 6.75V9.75" stroke="#221F1F" stroke-width="1.5" stroke-linecap="square"/>
  </svg>
{% endif %}

{% if icon == 'icon-minus' %}
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.75 12H20.25" stroke="#221F1F" stroke-width="1.5" stroke-linecap="square"/>
  </svg>
{% endif %}

{% if icon == 'icon-plus' %}
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.75 12H20.25" stroke="#221F1F" stroke-width="1.5" stroke-linecap="square"/>
    <path d="M12 3.75V20.25" stroke="#221F1F" stroke-width="1.5" stroke-linecap="square"/>
  </svg>
{% endif %}

{% if icon == 'page-logo' %}
  <svg width="304" height="400" viewBox="0 0 304 400" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.1" clip-path="url(#clip0)">
    <path d="M303.152 184.322C298.642 132.334 277.039 88.6548 239.176 52.9278C199.888 17.3195 153.716 -0.12856 99.3538 -0.00986606C43.5675 1.88924 -4.62247 23.3729 -43.6729 65.272C-81.8925 108.002 -99.1032 157.972 -95.5423 215.064C-95.3049 218.032 -95.0676 220.999 -94.5928 223.966C-94.2367 226.934 -93.7619 229.901 -93.2871 232.75C-92.8124 235.717 -92.2189 238.566 -91.6254 241.533C-91.0319 244.5 -90.3198 247.468 -89.4889 250.316C-88.7768 253.165 -87.9459 256.133 -87.115 258.862C-86.2842 261.711 -85.3346 264.56 -84.2664 267.29C-83.3168 270.138 -82.2486 272.868 -81.0616 275.598C-79.8747 278.328 -78.6877 281.058 -77.3821 283.788C-76.0765 286.518 -74.7708 289.13 -73.4652 291.741C-72.0408 294.352 -70.7352 296.963 -69.1922 299.575C-67.6492 302.186 -66.1061 304.797 -64.4444 307.29C-62.9014 309.782 -61.2397 312.275 -59.4593 314.768C-57.7975 317.26 -56.0171 319.634 -54.118 321.889C-52.3376 324.263 -50.4385 326.518 -48.4207 328.773C-46.5216 331.029 -44.5038 333.284 -42.486 335.42C-40.4682 337.557 -38.4504 339.693 -36.3139 341.83C-34.1774 343.966 -32.0409 345.984 -29.7857 348.002C-27.5305 350.02 -25.394 352.038 -23.1388 353.937C-20.7649 355.836 -18.391 357.735 -16.0171 359.515C-13.6432 361.296 -11.2693 363.076 -8.77676 364.738C-6.28419 366.4 -3.7916 368.061 -1.29902 369.604C1.19357 371.147 3.80483 372.69 6.29741 374.233C8.90869 375.658 11.52 377.201 14.1312 378.506C16.7425 379.812 19.4725 381.118 22.2025 382.305C24.9324 383.492 27.6624 384.678 30.3924 385.747C33.241 386.815 35.971 388.002 38.8197 388.952C41.6683 389.901 44.517 390.851 47.3657 391.681C50.2143 392.512 53.063 393.224 56.0304 393.937C58.879 394.649 61.8464 395.361 64.695 395.954C67.6624 396.548 70.5111 397.141 73.4784 397.616C76.4458 398.091 79.4131 398.447 82.3805 398.684C85.3479 399.041 88.3152 399.278 91.2826 399.515C94.2499 399.753 97.336 399.871 100.303 399.871C103.271 399.871 106.238 399.871 109.205 399.871C112.173 399.753 115.14 399.515 118.107 399.515C121.075 399.397 124.042 399.041 126.891 398.684C178.167 392.394 220.659 369.604 254.962 331.147C290.808 288.773 306.831 239.753 303.152 184.322ZM300.066 203.67C299.947 206.4 299.947 209.13 299.829 211.86C299.71 214.471 299.472 217.082 299.116 219.693C298.523 224.322 297.929 228.833 297.217 233.343C296.861 235.954 296.268 238.566 295.674 241.296C294.606 246.518 293.182 251.622 291.639 256.726C290.926 259.219 289.977 261.592 289.265 264.085C288.553 266.578 287.484 268.952 286.535 271.325C285.11 274.768 283.686 278.328 282.143 281.77C281.194 283.907 280.007 286.043 278.938 288.18C275.971 294.233 272.648 300.049 268.968 305.628C266.357 309.664 263.627 313.581 260.778 317.379C255.912 323.907 250.689 330.079 244.992 335.895C241.906 338.981 238.82 342.067 235.496 345.035C232.173 348.121 228.612 351.088 225.051 353.937C222.677 355.836 220.185 357.616 217.692 359.515C213.538 362.601 209.265 365.331 204.873 367.943C202.974 369.011 201.075 370.316 199.176 371.385C197.633 372.216 196.208 373.046 194.665 373.877C191.579 375.42 188.493 376.726 185.526 378.388C182.084 380.168 178.523 381.474 175.081 382.898C171.52 384.322 167.84 385.509 164.161 386.815C159.888 388.358 155.496 389.545 151.105 390.613C145.288 392.038 139.354 393.343 133.419 394.174C127.722 395.005 122.024 395.717 116.327 395.954C111.105 396.192 106.001 396.429 100.778 396.429C94.9621 396.311 89.0274 395.954 83.2114 395.361C77.1579 394.768 71.2232 393.937 65.2885 392.631C61.609 391.919 57.9295 391.088 54.2499 390.138C50.5704 389.189 46.8909 388.002 43.2114 386.815C37.7514 385.153 32.4102 383.017 27.1876 380.88C24.2203 379.693 21.3716 378.269 18.5229 376.963C12.3508 373.996 6.29742 370.673 0.4814 366.993C-2.12988 365.331 -4.74116 363.67 -7.35244 362.008C-9.13285 360.821 -10.7946 359.634 -12.4563 358.328C-14.9489 356.429 -17.4415 354.649 -19.8153 352.631C-21.9518 350.969 -23.9696 349.189 -25.9874 347.29C-28.9548 344.56 -31.9222 341.83 -34.7708 339.1C-36.7886 337.201 -38.569 335.183 -40.4682 333.165C-43.0794 330.317 -45.6907 327.349 -48.1833 324.382C-51.6254 319.99 -54.9489 315.48 -58.1536 310.969C-61.8331 305.865 -65.0379 300.405 -68.1239 294.827C-69.5483 292.334 -70.8539 289.723 -72.0408 287.112C-73.5839 284.026 -75.1269 280.94 -76.4325 277.854C-78.0943 274.055 -79.6373 270.138 -81.0616 266.103C-82.486 262.067 -83.9103 258.15 -85.0972 253.996C-86.1655 250.198 -86.9963 246.4 -87.9459 242.601C-88.6581 239.515 -89.2515 236.429 -89.845 233.225C-90.2011 230.969 -90.5572 228.714 -90.7946 226.459C-91.388 221.711 -91.8628 216.845 -92.3376 212.097C-92.575 209.248 -92.575 206.281 -92.6937 202.245C-92.6937 200.821 -92.8124 198.21 -92.6937 195.598C-92.575 192.394 -92.4563 189.189 -92.1002 185.984C-91.7441 181.83 -91.388 177.676 -90.9132 173.64C-90.6759 171.147 -90.2011 168.773 -89.7263 166.281C-89.2515 163.432 -88.6581 160.465 -88.0646 157.616C-87.7085 155.954 -87.2337 154.293 -86.8776 152.631C-86.7589 152.156 -86.7589 151.682 -86.5216 151.207C-86.4029 150.613 -86.1655 149.901 -85.9281 149.308C-85.8094 149.07 -85.6907 148.833 -85.6907 148.595C-84.7411 145.391 -83.9103 142.067 -82.842 138.863C-82.1299 136.726 -81.299 134.59 -80.5868 132.453C-79.5186 129.723 -78.4503 126.874 -77.2634 124.144C-76.1952 121.533 -75.1269 119.041 -73.94 116.548C-72.753 113.937 -71.5661 111.444 -70.2604 108.833C-69.0735 106.578 -67.8865 104.322 -66.4622 102.186C-64.0883 98.269 -61.7144 94.3521 -59.1032 90.4352C-56.848 86.9931 -54.4741 83.6696 -51.9815 80.4649C-49.3702 77.0228 -46.6403 73.6993 -43.7916 70.4946C-41.1803 67.5272 -38.3317 64.7972 -35.7204 61.9486C-32.0409 58.1504 -28.2426 54.5895 -24.207 51.1474C-21.7144 49.0109 -19.2219 46.9931 -16.7293 45.094C-13.4058 42.6014 -9.96371 40.1088 -6.52157 37.7349C-2.01118 34.6489 2.61789 31.8002 7.36566 29.1889C11.876 26.5777 16.5051 24.2038 21.2529 22.0673C24.339 20.643 27.425 19.2186 30.6298 18.0317C35.1401 16.2513 39.7692 14.5895 44.2796 13.0465C47.8404 11.8596 51.4013 10.91 55.0808 9.96046C58.2855 9.1296 61.3716 8.29874 64.5764 7.70527C67.8998 6.9931 71.2232 6.51832 74.5467 6.04355C78.8197 5.45007 83.0927 4.9753 87.3657 4.50052C90.8078 4.14444 94.2499 4.02574 97.6921 3.90705C101.016 3.78835 104.339 3.78835 107.662 3.78835C110.63 3.78835 113.716 4.02574 116.683 4.26313C118.701 4.38182 120.719 4.50052 122.737 4.73791C125.229 4.9753 127.603 5.21269 130.096 5.56877C133.063 5.92485 136.03 6.39963 138.879 6.9931C142.321 7.70527 145.882 8.53613 149.324 9.24829C154.547 10.3165 159.532 11.9783 164.517 13.5213C167.247 14.3521 169.858 15.4204 172.47 16.37C174.487 17.0821 176.505 17.7943 178.523 18.6251C180.897 19.5747 183.271 20.7616 185.645 21.8299C188.137 23.0168 190.63 24.0851 193.004 25.3907C194.784 26.2216 196.446 27.1711 198.226 28.2394C201.787 30.3759 205.467 32.275 208.909 34.5302C213.3 37.3789 217.573 40.4649 221.846 43.4323C223.508 44.6192 224.932 45.8062 226.475 47.1118C230.392 50.4352 234.309 53.7587 238.226 57.2008C240.956 59.6934 243.567 62.5421 246.179 65.272C247.959 67.1711 249.74 69.0702 251.52 70.9694C253.182 72.8685 254.725 74.7676 256.268 76.6667C260.066 81.4144 263.627 86.2809 267.069 91.3848C270.748 96.8447 274.072 102.542 277.277 108.477C279.769 113.106 282.143 117.854 284.161 122.72C285.823 126.637 287.366 130.554 288.79 134.59C290.214 138.506 291.401 142.305 292.588 146.34C293.538 149.308 294.369 152.275 294.962 155.361C295.912 159.871 296.742 164.382 297.573 168.892C298.048 171.741 298.523 174.59 298.879 177.438C299.116 179.456 299.235 181.592 299.472 183.729C299.71 186.459 299.947 189.189 300.066 191.919C300.185 195.242 300.185 198.566 300.185 201.889C300.185 202.008 300.185 202.839 300.066 203.67Z" fill="#221F1F"/>
    <path d="M120.603 129.258C119.297 130.564 117.754 131.632 116.33 132.938C112.65 136.142 108.971 139.347 105.291 142.552C102.561 144.926 99.8311 147.3 97.1011 149.792C96.2703 150.623 95.4394 151.454 94.6086 152.285C92.5908 154.065 90.5729 155.846 88.4364 157.507C86.8934 158.694 85.9439 160.237 85.2317 161.899C82.383 168.546 79.5344 175.074 77.0418 181.958C76.4483 183.501 75.9736 185.163 75.4988 186.706C74.9053 188.487 74.1931 190.148 73.7184 191.929C73.0062 194.421 72.294 197.033 71.5819 199.525C70.751 202.611 70.2762 205.697 69.8015 208.902C69.3267 212.463 69.5641 215.905 69.8015 219.466C70.0388 223.976 70.6323 228.487 71.938 232.878C72.8875 236.32 74.0744 239.525 75.7362 242.73C78.3474 247.478 81.6709 251.751 85.3504 255.668C86.3 256.736 87.2495 256.854 88.3178 255.905C91.6412 253.056 95.0833 250.208 98.2881 247.24C101.968 243.798 105.41 240.119 108.733 236.32C113.481 230.979 117.635 225.163 121.077 218.872C123.095 215.311 124.163 211.513 124.401 207.359C124.401 205.697 124.519 204.036 124.638 202.374C124.638 201.78 124.638 201.306 124.638 200.712C124.876 197.151 124.401 193.709 123.926 190.148C123.451 186.944 122.858 183.857 122.146 180.771C121.908 179.822 121.671 178.872 121.315 177.923C120.959 177.092 120.247 176.617 119.416 176.855C118.585 176.973 117.991 177.804 117.873 178.635C117.873 178.991 117.873 179.466 117.991 179.822C118.941 182.789 119.416 185.757 120.009 188.724C120.603 192.403 120.959 196.202 120.959 200C120.959 202.73 120.84 205.341 120.721 208.071C120.721 210.445 120.128 212.581 119.06 214.718C117.279 218.398 115.261 221.958 112.769 225.282C110.988 227.656 109.208 230.03 107.428 232.285C106.003 234.065 104.46 235.727 102.917 237.389C101.612 238.813 100.425 240.237 99.0002 241.543C96.5077 243.917 94.0151 246.291 91.5225 248.546C90.929 249.139 90.2169 249.614 89.5047 250.089C87.4869 251.157 85.2317 250.564 83.9261 248.902C81.5522 245.816 79.5344 242.611 77.8727 239.05C77.0418 237.389 76.4483 235.608 75.8549 233.828C75.024 231.454 74.4305 228.961 74.0745 226.469C73.8371 223.976 73.481 221.602 73.2436 219.11C73.1249 217.923 73.3623 216.736 73.0062 215.549C72.5314 213.768 72.8875 211.988 73.1249 210.208C73.3623 206.172 74.4305 202.255 75.3801 198.338C76.0922 195.49 77.0418 192.641 77.9914 189.792C79.4157 185.638 80.9587 181.365 82.6204 177.329C84.4009 172.938 86.3 168.546 88.0804 164.273C88.7925 162.611 89.8608 161.068 91.2851 159.763C93.5403 157.626 95.9142 155.608 98.1694 153.59C100.781 151.335 103.392 148.961 106.003 146.706C109.089 143.976 112.175 141.246 115.261 138.635C119.06 135.312 122.858 132.107 126.775 128.902C129.742 126.528 133.065 124.866 136.626 123.679C142.798 121.662 148.733 122.73 154.43 125.697C157.991 127.596 161.077 129.97 163.926 132.938C166.775 135.905 169.623 138.754 172.591 141.721C173.896 143.027 175.202 144.332 176.626 145.519C178.763 147.3 180.899 148.843 183.036 150.504C186.241 153.116 189.92 155.015 193.6 156.676C198.229 158.813 203.095 160.119 207.962 161.068C211.404 161.78 214.965 162.611 218.407 163.205C222.442 163.917 226.597 164.629 230.632 165.341C232.887 165.697 235.261 166.053 237.516 166.528C240.128 167.003 242.739 167.596 245.35 168.19C249.505 169.139 253.659 170.089 257.813 171.157C261.849 172.225 265.766 173.531 269.445 175.43C271.7 176.617 273.362 178.279 273.837 180.89C273.956 181.365 274.074 181.84 274.193 182.196C274.549 184.095 275.024 185.875 274.668 187.774C274.312 189.792 273.718 191.573 271.938 192.76C269.445 194.421 266.597 195.371 263.748 195.608C262.205 195.727 260.662 195.371 259.712 193.946C259.237 193.116 258.881 192.166 258.644 191.217C258.525 190.86 258.525 190.504 258.407 190.267C258.051 189.317 256.982 188.605 256.151 188.843C255.321 189.08 254.846 189.792 254.846 190.86C254.846 192.641 255.558 194.184 256.389 195.608C257.932 197.982 260.068 199.288 262.917 199.169C266.953 199.05 270.632 197.863 273.956 195.49C276.923 193.353 278.11 190.504 278.229 186.944C278.347 183.976 277.635 181.009 276.804 178.16C276.329 176.38 275.142 175.074 273.718 173.887C270.632 171.395 266.953 169.97 263.273 168.783C259.831 167.715 256.389 166.765 252.947 166.053C246.537 164.629 240.128 163.323 233.718 162.136C228.14 161.068 222.442 160.119 216.745 159.05C211.76 158.101 206.775 157.151 201.908 155.727C200.246 155.252 198.466 154.777 196.923 154.065C194.786 153.234 192.769 152.166 190.751 151.098C186.478 148.843 182.561 145.994 179 142.789C177.695 141.602 176.27 140.415 174.965 139.11C173.422 137.685 171.879 136.261 170.454 134.718C169.03 133.294 167.724 131.632 166.3 130.208C162.976 127.003 159.416 124.036 155.261 121.899C151.7 120 148.021 119.05 144.104 118.813C137.338 118.576 131.404 120.712 125.944 124.629C124.401 126.053 122.383 127.478 120.603 129.258Z" fill="#221F1F"/>
    <path d="M-53.4042 123.561C-52.8107 126.528 -51.9799 129.377 -51.149 132.225C-50.1995 135.312 -49.1312 138.398 -47.8256 141.365C-44.9769 148.131 -41.2974 154.421 -36.3122 159.881C-33.9383 162.493 -31.4458 164.866 -28.7158 167.122C-28.0036 167.715 -27.2915 168.19 -26.4606 168.783C-24.7989 169.852 -23.2558 171.039 -21.5941 172.107C-19.1015 173.65 -16.609 174.955 -13.879 176.024C-12.2173 176.736 -10.4369 177.448 -8.65644 177.923C-5.333 178.991 -2.00956 179.703 1.43258 180.297C5.2308 181.009 9.14772 181.365 13.0646 181.365C13.302 181.365 13.5394 181.365 13.6581 181.365C17.4563 181.602 21.2545 181.128 25.0528 180.653C27.7827 180.297 30.5127 179.703 33.2427 179.11C38.4652 178.042 43.4504 176.38 48.3169 174.481C51.1655 173.412 54.0142 172.107 56.7442 170.92C58.6433 170.089 60.6611 169.139 62.5602 168.19C67.1893 165.697 71.6996 162.967 75.9726 160.119C81.3139 156.558 86.4178 152.641 91.2842 148.487C95.0824 145.282 98.6433 141.84 102.204 138.516C106.002 134.955 109.682 131.395 113.361 127.834C115.498 125.816 117.516 123.798 120.127 122.374C120.364 122.255 120.483 122.136 120.602 122.018C121.314 121.306 121.433 120.475 120.839 119.644C120.483 119.169 120.246 118.813 119.771 118.338C117.872 116.558 115.735 114.896 113.243 113.828C109.207 112.047 105.053 110.979 100.661 110.386C96.6255 109.792 92.5899 109.792 88.673 109.911C88.3169 109.911 87.9608 109.911 87.6047 110.03C86.8925 110.267 86.4178 110.979 86.4178 111.573C86.4178 112.285 87.0112 113.116 87.8421 113.353C88.0795 113.472 88.3169 113.472 88.5543 113.472C89.6225 113.472 90.6908 113.472 91.759 113.472C96.2694 113.472 100.78 113.828 105.171 114.896C107.783 115.49 110.275 116.439 112.768 117.626C114.667 118.576 115.142 120.831 113.717 122.374C113.361 122.73 113.005 123.086 112.649 123.442C109.326 126.528 106.121 129.733 102.798 132.819C101.017 134.481 99.2367 136.261 97.4563 137.923C95.2011 140.059 92.8273 142.196 90.4534 144.214C87.9608 146.35 85.4682 148.368 82.8569 150.504C81.67 151.454 80.3643 152.404 79.0587 153.353C76.6848 155.015 74.3109 156.795 71.8183 158.338C67.308 161.187 62.7976 163.917 57.9311 166.172C55.4385 167.24 53.0646 168.546 50.5721 169.496C45.943 171.395 41.1952 173.175 36.21 174.481C31.2249 175.786 26.121 176.973 20.8985 177.448C15.7946 177.923 10.6907 178.042 5.58689 177.329C2.61953 176.973 -0.347832 176.499 -3.31519 175.786C-5.68908 175.193 -8.06297 174.362 -10.4369 173.531C-12.2173 172.938 -13.7603 171.988 -15.5407 171.276C-19.2202 169.733 -22.5437 167.596 -25.6297 165.223C-27.4102 163.917 -29.0719 162.255 -30.7336 160.831C-32.9888 158.813 -35.0066 156.677 -36.787 154.303C-39.0422 151.335 -41.06 148.249 -42.603 144.807C-43.5526 142.671 -44.6208 140.653 -45.4517 138.516C-47.2321 134.243 -48.6564 129.97 -49.606 125.46C-50.0808 123.442 -50.6742 121.424 -50.7929 119.406C-51.0303 116.202 -51.149 112.878 -51.2677 109.555C-51.2677 108.368 -51.149 107.181 -51.2677 105.875C-51.2677 104.926 -51.9799 104.214 -52.8107 104.214C-53.6416 104.095 -54.3538 104.57 -54.7099 105.638C-54.8286 106.231 -54.9472 106.825 -54.9472 107.537C-54.9472 109.555 -55.0659 111.454 -54.9472 113.472C-54.4725 116.914 -54.1164 120.237 -53.4042 123.561Z" fill="#221F1F"/>
    <path d="M15.7908 49.2581C16.6216 51.3946 17.5712 53.4124 18.402 55.5489C19.8264 58.991 21.2507 62.3144 22.5563 65.7566C23.7433 68.4866 24.8115 71.2165 25.9985 73.9465C27.1854 76.7952 28.3724 79.7625 29.678 82.6112C30.7462 85.2225 31.9332 87.8337 33.0014 90.445C33.5949 91.988 34.1884 93.5311 34.9005 95.0741C35.8501 97.3293 36.7996 99.4658 37.6305 101.721C38.3427 103.383 39.5296 103.976 41.1913 103.383C42.7344 102.789 44.2774 102.196 45.7017 101.602C47.8382 100.771 49.856 99.8219 51.9925 98.991C54.0103 98.1601 54.4851 96.8545 53.6542 94.8367C52.4673 91.988 51.2803 89.1394 50.0934 86.4094C49.2625 84.3916 48.4317 82.4925 47.6008 80.4747C47.0073 79.169 46.2952 77.8634 45.7017 76.4391C45.583 76.2017 45.583 75.8456 45.7017 75.6082C45.8204 75.4895 46.1765 75.4895 46.5326 75.4895C46.6513 75.4895 46.8887 75.6082 47.0073 75.7269C49.1438 76.4391 50.9243 77.7447 52.4673 79.2877C53.7729 80.5934 54.9599 82.0177 56.0281 83.6794C57.9272 86.5281 59.8263 89.2581 61.7254 92.1067C62.7937 93.6497 63.6245 94.0058 65.4049 93.2937C66.1171 93.0563 66.8293 92.7002 67.6601 92.3441C71.3396 90.8011 74.9005 89.3768 78.58 87.8337C78.9361 87.715 79.2922 87.4776 79.6483 87.3589C80.5978 86.7655 80.9539 85.9346 80.9539 84.9851C80.9539 84.0355 80.2417 83.442 79.4109 82.9673C78.1052 82.2551 76.5622 81.5429 75.494 80.5934C73.3575 78.5756 71.3397 76.2017 69.3219 73.9465C66.948 71.2165 64.6928 68.4865 61.9628 66.2314C60.3011 64.807 58.5207 63.6201 56.5029 62.6705C56.1468 62.5518 55.672 62.3144 55.3159 62.3144C54.6038 62.1958 53.7729 62.6705 53.5355 63.3827C53.2981 63.9762 53.4168 64.6883 54.0103 65.1631C54.4851 65.5192 54.9599 65.8753 55.4346 66.1127C57.0964 66.8248 58.402 67.7744 59.7076 68.9613C62.3189 71.2165 64.4554 73.8278 66.7106 76.4391C69.2032 79.2877 71.4583 82.1364 74.5444 84.3916C74.7818 84.629 75.0192 84.8664 75.3753 85.2225C74.9005 85.4598 74.5444 85.6972 74.1883 85.8159C72.4079 86.5281 70.6275 87.2403 68.8471 87.9524C68.1349 88.1898 67.5414 88.5459 66.8293 88.6646C64.9302 89.1394 63.5058 88.4272 62.5563 86.8842C61.132 84.7477 59.7076 82.6112 58.2833 80.4747C56.9777 78.4569 55.1972 76.9139 53.5355 75.2521C51.9925 73.7091 50.0934 72.6409 47.9569 72.0474C46.2952 71.5726 44.6335 71.4539 42.9717 72.0474C41.5474 72.6409 41.0726 73.4717 41.6661 74.896C42.1409 76.3204 42.7344 77.7447 43.3278 79.0503C44.2774 81.3055 45.2269 83.442 46.1765 85.6972C47.0074 87.715 47.8382 89.8515 48.7878 91.8693C49.7373 93.8871 49.0251 96.0236 47.0073 96.9732C46.0578 97.448 44.9895 97.8041 43.9213 98.0414C41.7848 98.6349 40.1231 97.8041 39.2922 95.7862C38.1053 93.0563 37.037 90.3263 35.8501 87.715C34.1884 83.7981 32.5267 79.8812 30.8649 75.9643C28.3724 69.9109 25.8798 63.9762 23.5059 57.9228C22.4376 55.4302 21.4881 52.9376 20.4198 50.445C19.9451 49.3768 20.0638 48.3085 20.7759 47.359C21.132 46.8842 21.7255 46.4094 22.3189 46.172C26.3546 44.5103 30.3902 42.8486 34.4258 41.1869C37.037 40.1186 39.6483 39.4064 42.497 39.2877C44.7522 39.169 46.8887 39.5251 48.9065 40.4747C52.586 42.2551 54.8412 45.2225 56.2655 49.0207C56.7403 50.3263 57.0963 51.8693 57.3337 53.2937C57.5711 55.0741 57.2151 56.7358 56.6216 58.5162C56.3842 58.991 56.2655 59.5845 56.2655 60.0593C56.2655 60.7714 56.7403 61.3649 57.3337 61.6023C58.0459 61.8397 58.6394 61.721 58.9955 61.2462C59.3516 60.7714 59.7076 60.2966 59.945 59.8219C60.8946 57.3293 61.132 54.5993 60.6572 51.988C59.8263 47.1216 57.6898 42.9673 53.8916 39.7625C51.399 37.626 48.5504 36.3204 45.2269 36.083C40.8352 35.6082 36.681 36.5578 32.5267 38.1008C30.2715 39.0504 28.0163 39.9999 25.7611 40.8308C22.7937 42.1364 19.7077 43.3233 16.7403 44.629C15.316 45.2225 14.8412 46.2907 15.1973 47.715C15.4347 48.4272 15.5534 48.902 15.7908 49.2581Z" fill="#221F1F"/>
    <path d="M-44.9785 121.899C-42.4859 125.816 -39.5186 129.377 -36.3138 132.582C-33.5838 135.312 -30.6165 137.804 -27.293 140.059C-24.6818 141.84 -21.9518 143.502 -18.9844 144.688C-16.7292 145.638 -14.474 146.35 -12.1002 147.181C-8.77671 148.249 -5.45327 148.843 -2.01113 149.199C2.97404 149.792 7.95921 149.674 12.9444 149.436C14.9622 149.318 16.98 149.199 18.9978 148.961C19.9473 148.843 20.8969 148.843 21.8465 148.605C24.8138 148.012 27.6625 147.537 30.6298 146.944C35.2589 145.994 39.5319 144.214 43.6862 142.077C48.3153 139.585 52.3509 136.499 55.9117 132.819C58.9978 129.614 62.0838 126.172 65.0512 122.73C68.3746 119.05 71.5794 115.371 75.3776 112.047C79.0571 108.843 82.9741 106.231 87.3658 104.332C91.9948 102.315 96.7426 101.009 102.203 101.246C105.645 101.009 109.206 101.721 112.766 102.671C115.378 103.383 117.87 104.332 120.363 105.401C123.686 106.825 126.772 108.605 129.858 110.504C130.927 111.098 130.808 112.404 129.858 113.116C129.502 113.353 129.027 113.591 128.671 113.947C128.197 114.421 128.078 115.015 128.315 115.727C128.553 116.32 129.027 116.795 129.74 116.795C129.977 116.795 130.333 116.795 130.571 116.795C132.707 116.202 134.725 115.608 136.861 114.896C138.642 114.303 138.879 112.641 137.455 111.454C136.387 110.623 135.2 109.911 134.131 109.199C129.384 105.875 124.398 103.027 119.057 101.009C114.547 99.2285 109.918 98.1602 105.17 97.8042C100.185 97.4481 95.1996 98.0416 90.3331 99.4659C85.4666 100.89 81.1936 103.383 77.158 106.231C74.072 108.487 71.2233 110.979 68.612 113.591C66.3568 115.964 64.2203 118.457 62.0838 120.831C59.1165 124.036 56.2678 127.359 53.3005 130.445C50.8079 133.056 48.0779 135.193 45.1105 137.092C41.6684 139.229 37.9889 140.89 34.1907 142.196C28.7307 144.095 23.1521 145.045 17.4548 145.638C13.4191 145.994 9.38354 146.113 5.22924 146.113C1.07493 146.113 -2.96068 145.638 -6.99629 144.807C-11.388 143.858 -15.4236 142.433 -19.4592 140.534C-23.8509 138.398 -28.0052 135.668 -31.566 132.344C-35.839 128.427 -39.5186 124.036 -42.6046 119.169C-43.1981 118.22 -43.7916 117.27 -44.5037 116.32C-44.9785 115.727 -45.8094 115.49 -46.4028 115.846C-47.115 116.202 -47.5898 116.914 -47.4711 117.745C-47.3524 118.338 -47.115 118.813 -46.7589 119.288C-46.2841 120.119 -45.572 120.95 -44.9785 121.899Z" fill="#221F1F"/>
    <path d="M193.359 83.7979C193.952 87.9522 194.664 92.1065 195.139 96.2608C195.377 97.9225 195.258 99.5843 194.783 101.246C194.19 103.145 192.29 103.62 190.866 102.908C189.56 102.314 188.492 101.483 187.899 100.178C187.424 99.2282 187.068 98.2786 186.593 97.4478C186.356 96.8543 186 96.3795 185.525 95.9047C184.575 94.9552 183.151 95.3113 182.914 96.7356C182.795 97.3291 182.914 98.0412 183.151 98.7534C183.863 100.653 184.694 102.433 186.118 103.857C186.712 104.451 187.424 104.926 188.017 105.519C189.798 107.537 194.308 107.299 196.089 105.638C197.869 103.976 198.7 101.839 198.7 99.3469C198.7 95.1926 198.107 91.0383 197.276 87.0027C196.801 84.6288 196.445 82.1362 196.563 79.7623C196.563 76.9136 197.157 74.1837 198.344 71.5724C199.65 68.7237 201.786 66.5872 204.635 65.4003C208.314 63.7386 211.994 64.0946 215.555 65.7564C218.285 66.9433 220.777 68.605 222.914 70.7415C223.982 71.8098 224.813 73.1154 225.406 74.5398C226.356 76.6763 225.406 78.5754 223.863 80.1184C222.914 81.1866 221.727 81.0679 220.896 79.881C219.828 78.2193 218.522 76.9136 217.216 75.4893C216.148 74.4211 214.961 73.7089 213.537 73.3528C210.451 72.5219 207.602 74.1837 206.89 77.2697C206.415 79.0501 206.534 80.8306 206.89 82.611C207.483 86.1718 208.196 89.7326 208.908 93.2935C209.62 96.8543 209.62 100.415 208.552 103.976C207.839 106.35 206.89 108.486 205.466 110.385C203.448 112.997 200.718 114.54 197.632 115.608C196.563 115.964 195.377 115.964 194.19 116.201C188.73 116.32 184.575 113.946 181.489 110.385C179.828 108.486 178.522 106.35 177.454 103.976C176.86 102.67 176.979 101.365 177.454 100.059C177.928 98.9908 178.641 98.0412 179.471 97.2104C180.777 96.0234 181.964 94.7178 183.151 93.4122C183.744 92.8187 183.863 91.8691 183.507 91.157C183.151 90.5635 182.32 90.0887 181.608 90.3261C181.252 90.4448 180.896 90.6822 180.54 90.9196C178.047 93.5309 175.673 96.0234 173.181 98.6347C172.35 99.4656 171.994 100.415 172.469 101.483C172.587 101.958 172.706 102.433 172.943 102.789C174.249 105.519 175.555 108.249 177.454 110.623C179.115 112.759 180.658 114.896 182.914 116.32C188.73 120 194.902 120.593 201.311 117.863C204.397 116.558 206.771 114.302 208.789 111.81C209.62 110.742 210.332 109.555 210.925 108.368C212.587 104.807 213.181 101.127 213.062 97.2104C212.943 92.9374 211.875 88.7831 211.044 84.5101C210.569 82.3736 210.095 80.3558 210.451 78.2193C210.688 76.7949 211.638 76.2015 213.062 76.6763C214.249 77.0323 215.198 77.8632 216.029 78.8128C217.81 80.7119 218.878 83.0858 220.184 85.2222C221.252 87.1214 223.388 87.3587 224.694 85.4596C226.593 82.7297 228.374 79.9997 230.154 77.2697C230.747 76.3202 230.747 75.4893 230.273 74.4211C229.204 72.4033 227.899 70.3854 226.356 68.605C222.558 64.4507 218.047 61.4834 212.35 60.6525C209.501 60.2964 206.652 60.4151 203.923 61.4834C202.023 62.1955 200.48 63.3825 199.056 64.6881C197.157 66.3498 195.733 68.3676 194.902 70.7415C193.121 75.0145 192.765 79.4062 193.359 83.7979Z" fill="#221F1F"/>
    <path d="M89.6213 85.3411C89.9774 85.4598 90.4522 85.4598 90.8083 85.4598C92.5887 85.4598 94.3691 85.4598 96.0308 85.4598V85.5785C97.8112 85.5785 99.5916 85.5785 101.253 85.5785C102.796 85.5785 104.102 84.7476 104.339 83.442C105.052 79.8812 105.882 76.3204 106.595 72.7595C106.713 72.2847 106.713 71.81 106.713 71.4539C106.713 70.5043 106.001 69.7922 105.052 69.6735C104.221 69.5548 103.509 70.1483 103.271 71.0978C103.152 71.6913 103.034 72.2847 102.915 72.7595C102.44 75.0147 101.966 77.2699 101.491 79.5251C101.135 81.1868 100.066 82.0177 98.6421 82.0177C97.0991 82.0177 95.6747 82.0177 94.1317 81.899C92.47 81.7803 91.7578 80.9494 92.2326 79.2877C93.1822 75.2521 94.2504 71.3352 95.2 67.2996C96.3869 62.5518 97.6925 57.9227 98.8795 53.175C99.1169 51.988 99.4729 50.9198 99.7103 49.7328C100.185 47.715 100.66 45.6972 101.135 43.7981C101.728 41.6616 102.322 39.4064 102.915 37.2699C103.627 34.3026 104.458 31.4539 105.17 28.4866C105.764 26.3501 106.713 25.6379 108.969 25.6379C110.868 25.6379 112.767 25.6379 114.666 25.6379C115.141 25.6379 115.615 25.6379 116.209 25.7566C117.396 25.8753 118.108 26.5875 118.464 27.6557C119.058 29.4361 119.532 31.3352 119.888 33.1156C120.363 35.0147 120.719 36.9139 121.194 38.6943C122.262 42.9673 123.212 47.2403 124.28 51.5133C125.111 54.9554 125.942 58.3975 126.773 61.721C127.604 65.4005 128.434 68.9613 129.384 72.6408C129.977 74.896 130.452 77.1512 131.046 79.4064C131.402 80.712 130.69 81.899 129.621 82.0177C127.722 82.2551 125.704 82.3738 123.687 81.899C122.856 81.6616 122.262 81.3055 121.906 80.4747C121.669 79.8812 121.431 79.2877 121.313 78.6942C120.838 76.3204 120.363 74.0652 120.007 71.6913C119.77 70.5043 119.058 69.7922 117.989 69.4361C115.497 68.6052 113.004 68.2491 110.393 68.4865C109.918 68.4865 109.443 68.6052 108.969 68.8426C108.256 69.08 108.019 69.7922 108.019 70.5043C108.019 71.2165 108.375 71.6913 108.969 71.9287C109.443 72.166 109.918 72.2847 110.393 72.166C112.055 71.9287 113.598 72.2847 115.259 72.5221C116.09 72.6408 116.565 73.1156 116.802 73.9465C117.396 77.0325 117.989 80.1186 118.583 83.2046C118.939 84.985 119.651 85.6972 121.431 85.6972C123.331 85.6972 125.111 85.8159 127.01 85.8159C129.028 85.8159 130.927 85.8159 132.945 85.8159C134.844 85.6972 135.912 84.3916 135.437 82.6111C135.081 81.0681 134.725 79.5251 134.25 77.9821C133.894 76.439 133.538 74.7773 133.063 73.2343C131.877 68.3678 130.808 63.5014 129.621 58.6349C128.553 54.3619 127.604 50.0889 126.535 45.8159C125.704 42.4925 124.992 39.169 124.161 35.9643C123.212 32.1661 122.381 28.3679 121.431 24.451C121.075 23.1453 120.244 22.3145 118.939 22.3145C117.515 22.3145 116.09 22.1958 114.666 22.1958C111.58 22.1958 108.494 22.1958 105.408 22.1958C103.865 22.1958 103.034 22.7892 102.678 24.2136C101.966 26.7062 101.372 29.1987 100.779 31.6913C99.9477 34.7774 99.2356 37.9821 98.4047 41.0682C96.9804 46.7655 95.4373 52.4628 93.8943 58.0414C92.7074 62.4331 91.6391 66.8248 90.4522 71.3352C89.6213 74.5399 88.7905 77.626 87.9596 80.8307C87.8409 81.4242 87.7222 82.1364 87.6035 82.8485C87.7222 84.0355 88.3157 84.985 89.6213 85.3411Z" fill="#221F1F"/>
    <path d="M146.596 91.8691C149.683 93.1748 152.65 94.4804 155.736 95.786C156.567 96.1421 157.516 96.3795 157.991 96.4982C159.297 96.4982 160.009 96.1421 160.484 95.43C160.721 95.0739 160.958 94.5991 161.196 94.1243C162.264 91.5131 163.332 88.9018 164.401 86.2905C165.706 83.3231 167.012 80.3558 168.318 77.3884C169.861 73.8276 171.285 70.2668 172.709 66.7059C174.49 62.4329 176.389 58.1599 178.169 53.8869C179 51.8691 179.119 51.8691 181.255 52.8187C183.51 53.7683 185.647 54.8365 187.902 55.6674C189.445 56.2608 190.751 55.7861 191.463 54.243C192.056 52.9374 192.65 51.7505 193.125 50.4448C193.243 50.0887 193.243 49.8513 193.362 49.4953C193.362 48.427 192.887 47.7148 192.175 47.4775C191.344 47.2401 190.632 47.5961 190.039 48.5457C189.801 49.0205 189.564 49.4953 189.326 49.8513C188.614 51.0383 187.665 51.3944 186.478 51.0383C186.122 50.9196 185.647 50.8009 185.291 50.5635C183.392 49.7326 181.493 48.9018 179.593 48.0709C177.813 47.2401 176.864 47.7148 176.151 49.4953C174.846 52.4626 173.659 55.43 172.353 58.3973C171.166 61.246 169.861 64.0947 168.674 66.9433C167.605 69.4359 166.537 72.0472 165.469 74.5398C163.57 78.9315 161.671 83.4418 159.772 87.8335C159.415 88.7831 159.059 89.7326 158.585 90.5635C158.11 91.6318 157.042 91.9878 155.973 91.5131C154.193 90.8009 152.531 90.0887 150.751 89.2579C149.326 88.6644 148.852 87.4775 149.326 86.0531C149.445 85.8157 149.564 85.4597 149.683 85.2223C151.107 81.6614 152.65 78.2193 154.074 74.6585C155.024 72.522 155.855 70.3855 156.685 68.249C158.347 64.3321 160.128 60.2964 161.789 56.3795C162.62 54.4804 163.332 52.5813 164.163 50.6822C164.994 48.6644 165.825 46.7653 166.656 44.7475C167.249 43.4418 166.893 42.4923 165.469 41.8988C164.519 41.5427 163.688 41.1867 162.739 40.8306C161.077 40.1184 159.534 39.5249 157.872 38.6941C156.685 38.1006 156.329 37.0324 156.804 35.7267C157.042 35.1332 157.279 34.5398 157.635 33.8276C158.347 32.1659 159.534 31.6911 161.196 32.4033C162.027 32.7594 162.739 33.1154 163.451 33.4715C167.131 35.0145 170.81 36.6763 174.49 38.2193C177.932 39.6436 181.493 41.1867 184.935 42.611C187.309 43.5605 189.564 44.5101 191.938 45.4596C192.175 45.5783 192.412 45.697 192.65 45.697C193.362 45.8157 194.074 45.4596 194.43 44.8662C194.786 44.154 194.786 43.4418 194.193 42.9671C193.955 42.7297 193.599 42.3736 193.362 42.2549C192.531 41.8988 191.582 41.424 190.751 41.068C188.97 40.3558 187.071 39.6436 185.291 38.8128C183.273 37.9819 181.255 37.0323 179.356 36.2015C176.864 35.1332 174.252 34.065 171.76 32.9967C167.724 31.335 163.688 29.5546 159.772 27.8929C157.872 27.062 156.685 27.5368 155.855 29.3172C154.668 31.8098 153.599 34.4211 152.65 36.9137C151.819 38.9315 152.531 40.3558 154.549 41.1867C157.042 42.1362 159.415 43.2045 161.908 44.154C162.739 44.5101 162.858 44.8662 162.502 45.5783C162.145 46.4092 161.789 47.2401 161.433 48.0709C159.89 51.7505 158.228 55.5487 156.685 59.2282C155.499 62.0769 154.312 64.9255 153.125 67.6555C152.294 69.792 151.344 71.8098 150.395 73.9463C149.683 75.4893 149.089 77.0323 148.496 78.5754C147.19 81.5427 145.884 84.5101 144.697 87.4774C144.223 88.5457 144.46 89.6139 145.41 90.3261C145.528 91.2757 146.003 91.6318 146.596 91.8691Z" fill="#221F1F"/>
    <path d="M273.24 224.807C272.528 224.57 271.697 224.807 271.222 225.638C270.985 225.994 270.866 226.35 270.866 226.825C270.747 227.656 270.747 228.368 270.51 229.199C270.035 232.285 269.204 235.252 267.305 237.863C266.474 238.932 265.643 239.881 264.575 240.593C262.557 241.78 260.421 242.73 258.047 242.849C255.673 242.967 253.418 243.086 251.044 243.205C247.721 243.323 244.278 243.323 240.955 243.323C237.75 243.442 234.545 243.442 231.459 243.679C226.118 244.154 220.896 244.629 215.673 245.578C210.807 246.409 206.178 247.834 201.905 250.564C198.937 252.463 195.851 254.362 192.765 256.142C188.848 258.397 184.813 260.534 180.658 262.196C178.047 263.264 175.317 264.332 172.587 265.044C167.483 266.587 162.142 267.656 156.801 268.249C152.29 268.724 147.78 268.961 143.27 268.605C141.845 268.486 140.54 268.486 139.115 268.13C134.486 267.299 130.094 266.113 125.821 263.857C121.667 261.721 117.988 259.11 115.258 255.193C115.02 254.837 114.783 254.481 114.427 254.243C113.833 253.65 113.121 253.768 112.409 254.006C111.697 254.243 111.578 254.837 111.578 255.549C111.578 256.261 111.934 256.854 112.29 257.329C113.952 259.584 115.851 261.483 118.106 263.264C122.142 266.469 126.652 268.605 131.637 270.029C136.86 271.572 142.201 272.166 147.661 272.285C150.629 272.285 153.596 272.047 156.563 271.691C160.955 271.216 165.347 270.504 169.62 269.317C174.367 268.13 178.878 266.587 183.388 264.688C188.136 262.67 192.528 259.94 197.038 257.448C199.887 255.905 202.498 254.124 205.347 252.463C207.483 251.157 209.62 250.208 212.112 249.733C213.299 249.495 214.367 249.258 215.554 249.021C218.878 248.546 222.201 247.952 225.525 247.596C228.373 247.24 231.222 247.121 234.071 246.884C235.851 246.765 237.632 246.647 239.293 246.647C241.667 246.647 244.16 246.647 246.534 246.647V246.528C246.89 246.528 247.246 246.409 247.721 246.528C250.688 246.647 253.537 246.647 256.504 246.409C258.878 246.172 261.133 245.816 263.388 244.985C268.255 243.086 271.103 239.525 272.765 234.777C273.477 232.641 273.833 230.504 274.308 228.368C274.427 227.893 274.427 227.3 274.427 226.706C274.427 225.875 273.952 225.163 273.24 224.807Z" fill="#221F1F"/>
    <path d="M5.58752 345.401C-0.228493 341.009 -5.56973 336.142 -10.7923 331.039C-14.2344 327.596 -17.6765 323.917 -20.7626 320.119C-23.0178 317.27 -25.273 314.421 -27.5282 311.454C-29.1899 309.199 -30.9703 306.825 -32.5133 304.451C-35.1246 300.415 -37.6172 296.38 -39.9911 292.225C-41.6528 289.496 -43.0771 286.528 -44.6202 283.68C-45.451 282.018 -46.2819 280.356 -47.1127 278.576C-48.5371 275.608 -49.9614 272.641 -51.267 269.555C-52.8101 265.994 -54.1157 262.315 -55.54 258.635C-56.3709 256.38 -57.3204 254.125 -58.0326 251.869C-59.5756 247.003 -61 242.136 -62.3056 237.27C-63.1365 234.184 -63.8486 231.098 -64.5608 228.012C-65.3917 224.214 -66.2225 220.297 -66.816 216.38C-67.4095 212.819 -67.8842 209.258 -68.359 205.697C-68.4777 205.223 -68.4777 204.748 -68.4777 204.273C-68.7151 203.205 -69.546 202.611 -70.6142 202.73C-71.4451 202.849 -72.0385 203.561 -72.0385 204.629C-72.0385 204.748 -72.0385 204.985 -72.0385 205.104C-72.0385 205.104 -72.0385 205.104 -72.1572 205.104C-71.8011 207.834 -71.5638 210.564 -71.089 213.294C-70.4955 216.973 -69.902 220.534 -69.1899 224.214C-68.4777 227.893 -67.5281 231.691 -66.6973 235.371C-66.2225 237.507 -65.629 239.525 -65.0356 241.543C-63.8486 245.579 -62.6617 249.496 -61.4747 253.412C-60.8813 255.312 -60.1691 257.329 -59.4569 259.228C-57.9139 263.264 -56.3709 267.418 -54.5905 271.335C-52.3353 276.439 -49.8427 281.543 -47.3501 286.528C-44.2641 292.463 -40.8219 298.16 -37.2611 303.739C-33.4629 309.555 -29.3086 315.134 -24.9169 320.593C-21.4748 324.748 -17.9139 328.783 -14.1157 332.582C-8.89317 337.804 -3.55193 342.789 2.26409 347.3C3.33234 348.131 4.40059 349.08 5.46883 349.911C6.53709 350.623 7.60534 350.504 8.19881 349.555C8.79228 348.724 8.55489 347.893 7.60534 347.062C7.24925 346.706 6.41839 345.994 5.58752 345.401Z" fill="#221F1F"/>
    <path d="M-61.1184 175.668C-56.0145 176.024 -50.9107 176.38 -45.9255 177.448C-42.1273 178.279 -38.4478 179.229 -34.8869 180.772C-31.2074 182.315 -27.6466 183.976 -24.0857 185.519C-21.3558 186.706 -18.7445 187.893 -15.8958 188.843C-12.335 190.03 -8.77416 191.098 -5.21333 192.166C0.602692 193.828 6.53741 194.54 12.5908 194.659C14.846 194.54 16.9825 194.54 19.2377 194.303C21.9677 194.065 24.6976 193.828 27.4276 193.353C30.1576 192.878 32.8876 192.166 35.6175 191.573C39.5344 190.742 43.3327 189.318 47.1309 187.893C50.573 186.588 53.8965 185.045 57.3386 183.502C60.1873 182.196 63.0359 180.772 65.7659 179.229C68.2585 177.923 70.8697 176.38 73.3623 174.955C74.4306 174.362 75.3801 173.769 76.3297 173.056C77.0419 172.463 77.1606 171.632 76.8045 170.801C76.4484 170.089 75.6175 169.733 74.7867 170.089C74.4306 170.208 74.0745 170.445 73.5997 170.683C70.6324 172.344 67.7837 174.125 64.8163 175.668C59.3564 178.635 53.7778 181.365 48.0804 183.739C43.4514 185.638 38.8223 187.181 34.0745 188.368C30.1576 189.436 26.122 190.148 22.0864 190.504C18.5255 190.861 14.9647 191.098 11.2852 190.979C7.60566 190.861 3.92613 190.504 0.365295 189.674C-2.00859 189.199 -4.26378 188.605 -6.63766 188.012C-8.65547 187.418 -10.5546 186.944 -12.4537 186.113C-15.6584 184.926 -18.8632 183.502 -21.9492 182.196C-24.5605 181.128 -27.1718 179.822 -29.7831 178.754C-32.157 177.804 -34.4121 176.855 -36.786 176.024C-38.9225 175.312 -41.1777 174.718 -43.3142 174.243C-45.6881 173.65 -48.1807 173.175 -50.5546 172.819C-53.7593 172.463 -56.9641 172.226 -60.1688 171.988C-62.8988 171.869 -65.7475 171.751 -68.4774 171.869C-71.5635 171.988 -74.5308 172.344 -77.6169 172.582C-78.6851 172.7 -79.7534 172.819 -80.703 173.056C-81.8899 173.294 -82.6021 174.125 -82.3647 175.193C-82.246 176.142 -81.2964 176.736 -80.2282 176.736C-79.7534 176.736 -79.3973 176.617 -79.0412 176.617C-76.5486 176.38 -74.0561 175.905 -71.5635 175.786C-68.3587 175.668 -64.7979 175.549 -61.1184 175.668Z" fill="#221F1F"/>
    <path d="M-27.534 110.504C-25.3975 114.302 -22.5488 117.626 -19.4627 120.593C-17.2076 122.848 -14.715 124.748 -12.1037 126.409C-7.35593 129.258 -2.25207 130.92 3.32656 130.92C6.41262 131.038 9.37998 130.564 12.3473 129.377C14.3651 128.546 16.2642 127.478 18.1634 126.053C19.9438 124.748 21.6055 123.205 22.9111 121.424C25.1663 118.575 26.828 115.489 28.015 112.047C28.8459 109.673 29.3206 107.418 29.6767 104.926C29.7954 103.62 29.4393 102.67 28.4898 101.721C26.472 99.8217 24.5729 97.8039 22.5551 95.9048C21.3681 94.8366 20.2999 93.6496 19.1129 92.7001C18.2821 91.9879 17.4512 92.1066 16.739 92.8188C16.0269 93.5309 16.0269 94.4805 16.8577 95.3114C17.0951 95.5487 17.3325 95.9048 17.6886 96.1422C20.1812 98.5161 22.6737 101.009 25.1663 103.383C25.7598 103.976 26.2346 104.57 26.1159 105.638C25.5224 109.673 23.9794 113.472 21.9616 117.032C19.9438 120.475 17.0951 123.086 13.5343 124.866C9.73606 126.884 5.70045 127.596 1.54615 127.24C-2.72685 126.884 -6.76245 125.222 -10.442 122.967C-14.1215 120.712 -17.0889 117.863 -19.9375 114.659C-22.5488 111.572 -24.6853 108.13 -26.1096 104.332C-27.2966 101.127 -28.0087 97.9226 -27.7714 94.4805C-27.6527 91.6318 -26.9405 88.9019 -25.7535 86.4093C-23.617 82.1363 -20.4123 78.8129 -16.3767 76.3203C-14.2402 75.0146 -11.985 74.0651 -9.61111 73.1155C-8.78025 72.8781 -8.30548 72.9968 -7.712 73.4716C-5.45681 75.7268 -3.20162 77.982 -0.827736 80.1185C-0.471653 80.3559 -0.234261 80.712 0.121822 80.9493C0.715294 81.3054 1.66484 81.1867 2.13962 80.5933C2.73309 79.9998 2.8518 79.1689 2.37702 78.5755C2.25832 78.3381 2.02094 78.1007 1.78355 77.8633C-0.946424 75.252 -3.5577 72.6407 -6.28767 69.9108C-7.11854 69.0799 -8.18678 68.9612 -9.25503 69.1986C-13.528 70.5042 -17.6823 72.2847 -21.2432 75.1333C-21.8366 75.6081 -22.4301 76.3203 -23.1423 76.795C-25.8722 79.0502 -27.89 82.0176 -29.4331 85.1036C-31.3322 89.0206 -31.807 93.1749 -31.5696 97.4478C-31.3322 102.196 -29.9078 106.469 -27.534 110.504Z" fill="#221F1F"/>
    <path d="M16.0296 326.172C12.7061 323.442 9.5014 320.712 6.41535 317.626C3.44799 314.777 0.718018 311.691 -1.89326 308.605C-4.74192 305.163 -7.4719 301.602 -10.0832 297.923C-13.1692 293.531 -16.0179 289.021 -18.5105 284.154C-20.1722 280.712 -22.0713 277.389 -23.6143 273.947C-25.1574 270.623 -26.5817 267.3 -27.8873 263.858C-29.5491 259.703 -30.9734 255.549 -32.3977 251.276C-33.466 248.071 -34.4155 244.866 -35.2464 241.662C-36.9081 235.371 -38.4511 229.199 -39.5194 222.789C-40.5876 216.855 -41.5372 210.92 -41.8933 204.985C-42.012 203.68 -42.8428 202.849 -43.7924 202.967C-44.7419 203.086 -45.4541 203.917 -45.4541 204.866C-45.2167 207.715 -44.8606 210.445 -44.6232 213.056C-44.5045 214.362 -44.2672 215.668 -44.0298 216.855C-43.7924 218.279 -43.555 219.703 -43.1989 221.009C-42.2494 225.757 -41.2998 230.504 -40.3502 235.252C-40.1129 236.202 -39.8755 237.151 -39.6381 238.22C-38.9259 241.068 -38.3324 244.036 -37.3829 246.884C-35.2464 254.006 -32.8725 261.128 -29.9051 268.13C-28.9556 270.386 -28.006 272.641 -26.9378 274.896C-25.9882 276.795 -25.1574 278.813 -24.0891 280.712C-22.7835 283.205 -21.5965 285.697 -20.1722 288.071C-18.9853 290.089 -17.7983 291.988 -16.4927 294.006C-14.4749 297.211 -12.4571 300.415 -10.2019 303.383C-7.70929 306.706 -4.97932 309.911 -2.36804 313.116C0.718014 316.914 4.16015 320.237 7.83968 323.561C11.7566 327.122 15.7922 330.445 20.0652 333.294C20.54 333.531 20.8961 333.887 21.2521 334.125C22.083 334.599 23.0326 334.362 23.626 333.65C24.2195 332.938 24.1008 331.988 23.2699 331.276C22.9139 330.92 22.4391 330.682 22.083 330.326C19.8278 329.021 17.81 327.715 16.0296 326.172Z" fill="#221F1F"/>
    <path d="M218.164 118.575C214.129 121.78 210.212 124.985 206.176 128.19C204.989 129.139 203.802 130.089 202.734 131.038C201.666 131.988 201.666 133.175 202.497 134.362C202.734 134.718 203.09 135.074 203.328 135.43C205.345 137.923 207.363 140.534 209.262 143.026C209.618 143.501 210.093 143.976 210.568 144.451C211.636 145.282 212.704 145.282 213.773 144.451C214.722 143.739 215.672 143.026 216.621 142.196C221.488 138.279 226.354 134.48 231.102 130.564C233.238 128.783 235.375 127.003 237.63 125.222C240.953 122.611 244.396 119.881 247.719 117.27C250.093 115.371 252.467 113.472 254.722 111.573C256.146 110.386 257.689 109.199 259.114 108.012C260.419 106.943 260.538 105.519 259.588 104.332C257.808 102.077 256.028 99.8218 254.247 97.6853C253.416 96.617 252.585 95.5488 251.636 94.4805C250.924 93.6497 250.212 93.4123 249.381 93.6497C248.194 94.1245 247.719 95.4301 248.669 96.4983C249.856 97.9227 251.042 99.347 252.111 100.771C252.823 101.721 253.535 102.789 254.129 103.857C255.078 105.638 254.366 107.181 252.942 108.368C250.449 110.504 247.956 112.403 245.464 114.54C242.14 117.27 238.817 119.881 235.494 122.492C232.882 124.629 230.271 126.765 227.541 128.902C225.049 130.92 222.556 132.819 220.063 134.837C218.639 135.905 217.333 137.092 215.909 138.16C214.959 138.872 214.01 139.347 212.823 139.466C212.23 139.347 211.636 139.228 211.161 138.991C207.244 137.329 206.532 132.344 209.856 129.733C211.043 128.783 212.348 127.834 213.654 126.765C216.265 124.629 218.758 122.492 221.369 120.475C225.286 117.389 229.084 114.302 233.001 111.216C235.256 109.436 237.393 107.656 239.648 105.875C241.903 104.095 244.158 102.314 246.295 100.534C246.532 100.415 246.651 100.178 246.888 100.059C247.719 99.2283 247.838 98.2787 247.126 97.4479C246.413 96.617 245.464 96.617 244.396 97.4479C241.191 99.9405 238.105 102.552 234.9 105.163C232.408 107.181 229.796 109.317 227.304 111.335C224.336 113.709 221.25 116.083 218.164 118.575Z" fill="#221F1F"/>
    <path d="M106.948 263.501C106.948 261.839 105.524 261.009 104.337 261.721C103.862 262.077 103.388 262.67 103.031 263.145C102.319 264.332 101.726 265.519 100.895 266.706C98.9958 269.673 96.978 272.641 94.9602 275.608C92.8237 278.813 90.5686 282.017 88.3134 285.104C86.1769 288.071 83.803 291.038 81.5478 294.006C79.2926 296.973 77.0374 299.94 74.6635 302.789C72.171 305.875 69.5597 308.842 67.0671 311.81C64.8119 314.421 62.6754 316.914 60.3015 319.406C57.4529 322.492 54.6042 325.46 51.7556 328.427C49.8564 330.445 47.9573 332.462 45.9395 334.362C42.26 337.922 38.5805 341.365 34.7823 344.925C34.3075 345.4 33.714 345.875 33.2393 346.35C31.1028 348.249 28.9663 350.148 26.8298 351.928C24.0998 354.302 21.3698 356.557 18.7586 358.813C17.9277 359.525 17.0968 360.118 16.3847 360.83C15.6725 361.424 15.6725 362.729 16.1473 363.323C16.6221 363.916 17.5716 364.035 18.4025 363.56C18.6399 363.442 18.7586 363.323 18.8773 363.204C20.4203 361.899 21.9633 360.712 23.5063 359.406C26.7111 356.676 29.9158 353.827 33.0019 351.097C35.8505 348.605 38.5805 345.994 41.3105 343.501C42.4974 342.433 43.6843 341.365 44.7526 340.178C47.3639 337.566 49.8564 334.955 52.4677 332.344C54.8416 329.97 57.2155 327.477 59.5894 324.985C61.2511 323.204 62.9128 321.305 64.5745 319.525C66.2362 317.626 68.0167 315.845 69.5597 313.946C71.3401 311.81 73.1205 309.792 74.9009 307.655C77.0374 305.044 79.2926 302.314 81.4291 299.703C82.26 298.635 82.9721 297.566 83.803 296.617C85.346 294.599 87.0077 292.581 88.5508 290.563C91.6368 286.29 94.8415 281.899 97.8089 277.507C100.776 273.234 103.506 268.842 106.355 264.451C106.83 264.213 106.948 263.739 106.948 263.501Z" fill="#221F1F"/>
    <path d="M-6.28468 98.0415C-7.35293 99.1098 -7.35293 100.415 -6.28468 101.484C-4.14818 103.62 -2.01167 105.638 0.124828 107.656C1.66786 109.08 2.73611 109.08 4.16044 107.537C4.16044 107.418 4.27913 107.418 4.27913 107.3C5.70347 105.757 7.2465 105.757 8.78953 107.181C9.62039 108.012 10.4513 108.843 11.2821 109.674C11.6382 110.03 11.7569 110.504 11.5195 110.979C10.0952 113.116 8.43344 114.659 5.70346 114.659C3.80435 114.659 2.14264 114.184 0.480915 113.353C-1.4182 112.404 -3.19861 111.098 -4.86034 109.792C-8.53987 107.062 -11.3885 103.62 -13.525 99.4659C-14.3559 97.9228 -14.8307 96.3798 -14.9494 94.7181C-15.1868 90.4451 -13.169 87.2403 -9.60812 84.9851C-8.30248 84.1543 -6.64076 83.7982 -5.21642 83.086C-4.62295 82.8486 -4.02948 82.7299 -3.5547 82.3739C-2.96123 82.0178 -2.72384 81.4243 -2.84254 80.7121C-2.96123 80.1187 -3.31731 79.5252 -4.02948 79.4065C-4.38556 79.2878 -4.86034 79.2878 -5.21642 79.4065C-7.59031 79.8813 -9.84551 80.7121 -11.8633 82.0178C-13.7624 83.3234 -15.3055 84.9851 -16.6111 87.0029C-18.0354 89.2581 -18.6289 91.632 -18.6289 94.2433C-18.5102 98.5163 -16.7298 102.077 -14.1185 105.401C-12.2194 107.774 -10.0829 109.911 -7.70901 111.929C-5.45381 113.947 -2.84253 115.608 -0.112558 116.795C1.54917 117.626 3.44828 118.101 5.22869 117.982C7.3652 118.101 9.14561 117.507 10.926 116.439C12.9438 115.134 14.2495 113.234 15.4364 111.217C16.2673 109.792 16.0299 108.843 14.8429 107.774C13.5373 106.588 12.3504 105.401 11.1634 104.214C10.0952 103.145 9.14561 102.077 8.07735 101.128C7.36519 100.415 6.53433 100.415 5.70346 101.009C5.10999 101.484 4.63522 101.958 4.16044 102.433C3.68567 102.908 3.32958 103.383 2.8548 103.858C2.26133 104.451 1.90524 104.332 1.31177 103.739C0.599606 103.027 0.00613785 102.315 -0.70603 101.721C-1.77428 100.772 -1.77429 99.7033 -1.41821 98.5163C-1.18081 97.9228 -0.706038 97.3294 -0.231258 96.7359C0.955685 95.4303 2.26133 94.2433 3.44828 92.9377C5.22869 91.1573 7.00911 89.2581 8.90822 87.4777C10.4513 85.9347 11.9943 85.9347 13.5373 87.4777C14.3682 88.3086 15.199 89.1394 16.0299 89.9703C16.386 90.3264 16.7421 90.8012 17.2168 91.0386C17.929 91.5133 18.6412 91.5133 19.3533 91.0386C20.0655 90.5638 20.1842 89.8516 19.8281 89.0207C19.5907 88.546 19.2346 88.1899 18.8786 87.8338C17.8103 86.7656 16.6234 85.6973 15.5551 84.6291C14.6056 83.7982 13.7747 82.8486 12.8251 82.0178C11.5195 80.8308 10.6886 80.8308 9.383 82.1365C7.2465 84.1543 5.22869 86.2908 3.21088 88.4273C0.836992 90.9199 -1.65559 93.2937 -4.02948 95.7863C-4.86034 96.6172 -5.57251 97.3294 -6.28468 98.0415Z" fill="#221F1F"/>
    <path d="M31.1034 319.881C31.8156 320.474 32.6465 320.356 33.2399 319.762C33.9521 319.169 34.0708 318.457 33.596 317.626C33.4773 317.388 33.3586 317.151 33.1213 317.032C30.8661 314.302 28.4922 311.691 26.3557 308.961C23.9818 305.994 21.7266 302.908 19.5901 299.822C17.5723 296.973 15.7918 293.887 13.8927 290.92C12.4684 288.546 10.9254 286.172 9.61973 283.679C7.60193 279.762 5.70281 275.845 3.92239 271.928C2.61675 269.08 1.31112 266.112 0.124174 263.145C-1.18147 259.822 -2.24972 256.498 -3.43666 253.056C-5.33577 247.715 -6.8788 242.136 -8.18444 236.676C-9.84616 229.436 -11.2705 222.196 -11.7453 214.718C-11.7453 214.48 -11.864 214.124 -11.864 213.887C-12.2201 213.056 -13.0509 212.581 -13.8818 212.7C-14.7126 212.819 -15.4248 213.65 -15.4248 214.599C-15.4248 214.837 -15.4248 215.074 -15.3061 215.193C-14.8313 218.635 -14.4753 221.958 -14.0005 225.4C-13.5257 228.249 -12.9322 231.216 -12.3387 234.065C-11.864 236.439 -11.2705 238.931 -10.5583 241.305C-9.49008 245.104 -8.54053 249.02 -7.35358 252.819C-5.57317 258.397 -3.55535 263.857 -1.30016 269.198C-0.231906 271.572 0.836342 273.828 1.90459 276.201C3.32893 279.169 4.75326 282.255 6.29629 285.222C8.67018 289.377 11.0441 293.531 13.6553 297.566C16.3853 301.721 19.234 305.875 22.32 309.911C24.5752 312.997 27.1865 315.845 29.5604 318.694C30.0352 318.813 30.51 319.406 31.1034 319.881Z" fill="#221F1F"/>
    <path d="M278.818 198.101C278.225 197.27 277.275 196.795 276.207 196.914C274.783 197.151 273.596 197.863 272.765 198.932C272.29 199.525 272.29 200.118 272.765 200.831C273.477 201.78 274.071 201.899 275.139 201.305C276.207 200.712 276.445 200.712 276.682 201.899C276.801 202.611 276.919 203.323 276.919 204.035C277.157 207.003 277.394 209.97 276.445 212.937C275.851 214.599 275.258 216.261 273.833 217.448C272.884 218.041 271.934 218.635 270.866 219.11C264.575 221.84 257.81 222.67 251.044 223.026C246.059 223.264 241.192 223.145 236.207 222.433C234.308 222.196 232.409 221.958 230.51 221.602C225.05 220.653 219.59 219.347 214.249 217.567C212.468 216.973 210.688 216.854 208.907 216.854C205.347 216.973 202.617 218.635 200.243 221.127C199.887 221.483 199.649 221.958 199.412 222.314C198.937 223.264 199.056 224.213 199.768 224.807C200.48 225.4 201.548 225.163 202.26 224.451C202.498 224.213 202.735 223.976 202.854 223.62C204.278 221.483 206.415 220.653 208.907 220.534C210.806 220.415 212.587 220.771 214.367 221.365C215.91 221.84 217.572 222.433 219.234 222.789C224.694 224.213 230.272 225.282 235.851 225.875C239.174 226.231 242.498 226.469 245.94 226.469C249.976 226.469 254.011 226.35 257.928 225.756C261.252 225.282 264.694 224.688 267.899 223.739C270.51 222.908 273.121 221.958 275.495 220.415C277.513 218.991 278.937 217.092 279.649 214.718C280.48 212.225 280.836 209.614 280.836 207.24C280.836 204.51 280.599 202.136 279.887 199.762C279.531 199.406 279.293 198.694 278.818 198.101Z" fill="#221F1F"/>
    <path d="M39.6509 289.021C40.9565 291.632 42.2622 294.243 43.6865 296.854C43.9239 297.329 44.1613 297.804 44.3987 298.16C45.4669 299.94 46.4165 301.84 47.4847 303.62C47.9595 304.451 48.553 305.282 49.1464 306.113C49.6212 306.706 50.3334 306.825 50.9269 306.469C51.639 306.113 51.9951 305.519 51.8764 304.688C51.7577 304.213 51.639 303.62 51.2829 303.145C49.2651 299.466 47.2473 295.786 45.3482 292.107C43.4491 288.546 41.6687 284.866 40.007 281.187C38.1079 276.914 36.3275 272.522 34.547 268.249C33.3601 265.4 32.2918 262.433 31.2236 259.466C30.3927 257.211 29.6806 255.074 28.9684 252.819C27.9002 249.495 26.9506 246.053 25.8824 242.73C24.458 238.101 23.1524 233.353 22.0841 228.605C21.6094 226.469 21.0159 224.332 20.5411 222.077C20.0663 219.584 19.5916 217.092 19.1168 214.599C18.9981 213.65 18.1672 213.175 17.099 213.175C16.9803 213.294 16.5055 213.412 16.2681 213.65C15.556 214.243 15.556 215.074 15.7933 215.786C16.5055 219.347 17.099 222.908 17.9298 226.35C18.9981 230.742 20.0663 235.252 21.2533 239.644C22.2028 243.205 23.2711 246.647 24.2206 250.089C25.0515 252.819 25.8824 255.549 26.8319 258.16C28.0189 261.602 29.3245 265.044 30.7488 268.368C33.1227 274.065 35.4966 279.762 37.9892 285.46C38.5827 286.765 39.0574 287.834 39.6509 289.021Z" fill="#221F1F"/>
    <path d="M62.5598 287.715C62.7972 288.19 63.1533 288.546 63.5094 288.902C64.2216 289.496 64.9337 289.496 65.6459 288.902C66.4768 288.19 66.4768 287.359 65.8833 286.172C63.9842 282.374 62.0851 278.576 60.4233 274.777C58.1681 269.792 56.269 264.688 54.8447 259.466C53.7764 256.024 52.8269 252.463 51.996 248.902C51.2838 246.409 50.6904 243.917 50.2156 241.305C49.3847 236.795 48.7913 232.166 48.0791 227.656C47.9604 226.587 47.723 225.638 47.6043 224.57C47.3669 222.552 47.2482 220.534 47.1295 218.516C47.0108 216.261 46.7734 214.124 46.6547 211.869H46.7734C46.7734 211.276 46.7734 210.682 46.6547 210.089C46.6547 209.851 46.6547 209.614 46.5361 209.377C46.2987 208.546 45.7052 207.952 44.8743 207.952C44.0435 207.952 43.3313 208.427 43.0939 209.258C42.9752 209.614 42.9752 209.97 43.0939 210.326C43.2126 211.751 43.2126 213.056 43.3313 214.48C43.5687 217.448 43.6874 220.534 44.0435 223.501C44.2809 225.875 44.6369 228.13 44.993 230.504C45.7052 235.133 46.4174 239.762 47.3669 244.392C48.0791 247.834 49.0286 251.276 49.9782 254.718C51.4025 260.534 53.3017 266.113 55.4382 271.691C57.3373 277.151 59.8299 282.493 62.5598 287.715Z" fill="#221F1F"/>
    <path d="M123.212 241.068C122.975 241.78 123.094 242.492 123.687 242.967C123.924 243.205 124.281 243.442 124.637 243.561C125.942 244.036 127.367 244.629 128.791 245.104C131.64 245.935 134.607 246.765 137.574 247.478C141.966 248.546 146.476 249.258 150.987 249.377C151.818 249.377 152.53 249.377 153.361 249.377C157.278 249.139 161.194 248.665 164.993 247.478C168.672 246.409 172.233 244.985 175.557 242.849C178.999 240.712 182.203 238.457 184.933 235.49C186.002 234.303 187.07 233.116 188.138 231.929C188.613 231.335 188.969 230.742 188.732 230.03C188.257 228.724 186.714 228.131 185.646 229.318C184.815 230.148 184.221 231.217 183.39 232.047C179.948 235.727 176.031 238.694 171.521 240.949C168.197 242.611 164.755 243.917 161.076 244.748C156.447 245.816 151.699 245.935 146.951 245.46C144.34 245.104 141.729 244.629 138.999 244.036C134.726 243.205 130.571 241.899 126.536 240.237C126.061 240 125.349 239.881 124.874 239.881C124.043 239.881 123.45 240.356 123.212 241.068Z" fill="#221F1F"/>
    <path d="M246.176 185.757C246.77 185.163 246.77 184.332 246.295 183.739C245.82 183.027 245.108 182.789 244.277 183.027C243.921 183.145 243.684 183.264 243.328 183.501C239.648 185.757 235.613 186.943 231.34 187.537C228.016 188.012 224.693 187.893 221.369 187.3C218.995 186.825 216.622 186.113 214.129 185.519C209.737 184.451 205.346 183.857 200.835 183.739C196.325 183.62 191.814 183.739 187.423 184.451C186.355 184.57 185.405 185.044 184.337 185.044C182.675 185.044 181.251 185.638 179.708 185.875C179.352 185.875 179.114 186.113 178.758 186.231C177.927 186.706 177.571 187.537 177.809 188.249C178.046 188.961 178.877 189.555 179.826 189.555C180.301 189.555 180.776 189.436 181.132 189.317C182.912 188.961 184.693 188.487 186.592 188.249C189.559 187.893 192.527 187.537 195.613 187.418C198.699 187.3 201.903 187.418 204.99 187.656C208.55 188.012 211.992 188.724 215.435 189.792C219.114 190.86 222.912 191.454 226.829 191.454C227.423 191.454 228.135 191.454 228.728 191.454C233.832 191.335 238.699 190.03 243.328 187.893C244.515 187.062 245.346 186.469 246.176 185.757Z" fill="#221F1F"/>
    <path d="M132.117 180.297C133.66 181.602 135.322 182.789 137.221 183.62C141.257 185.401 145.411 185.994 149.684 185.757C150.752 185.757 151.82 185.875 152.889 185.757C158.23 185.282 163.453 183.976 168.438 181.721C171.286 180.415 174.135 178.991 176.628 177.211C176.865 176.973 177.221 176.855 177.34 176.617C177.933 176.024 177.933 175.074 177.458 174.362C176.984 173.768 176.153 173.412 175.322 173.768C174.966 173.887 174.728 174.125 174.491 174.243C170.812 176.617 166.776 178.516 162.622 179.941C159.298 181.009 155.975 181.84 152.414 182.077C148.616 182.314 144.818 182.314 141.138 181.246C137.221 180.059 133.898 178.041 131.286 174.837C129.506 172.582 128.2 169.97 127.369 167.24C127.251 166.884 127.132 166.409 126.895 166.053C126.42 165.222 125.708 164.985 124.877 165.222C124.046 165.46 123.571 166.053 123.571 167.003C123.571 167.715 123.809 168.309 124.046 168.902C125.945 173.412 128.438 177.329 132.117 180.297Z" fill="#221F1F"/>
    <path d="M171.641 153.709C171.404 152.997 171.167 152.285 170.81 151.691C168.911 148.961 167.131 145.994 164.876 143.501C162.977 141.483 160.959 139.466 158.585 137.923C154.549 135.193 150.039 133.768 145.172 133.65C143.511 133.887 141.73 133.887 140.069 134.243C134.965 135.193 130.336 137.567 126.181 140.653C124.638 141.84 123.214 143.145 121.79 144.451C121.077 145.163 121.196 145.994 121.671 146.587C122.264 147.299 123.214 147.537 124.045 146.943C124.638 146.469 125.232 145.994 125.825 145.4C128.08 143.264 130.81 141.721 133.422 140.415C135.796 139.228 138.288 138.279 141.018 137.804C142.68 137.567 144.46 137.21 146.122 137.448C150.988 137.804 155.261 139.703 158.941 143.026C159.772 143.857 160.603 144.569 161.434 145.4C163.689 147.774 165.469 150.504 167.25 153.353C167.724 154.065 168.08 154.777 168.555 155.489C169.03 156.202 170.098 156.32 170.692 155.964C171.404 155.371 171.879 154.54 171.641 153.709Z" fill="#221F1F"/>
    <path d="M112.527 58.991C112.408 58.991 112.29 58.991 112.171 59.1096C111.34 59.347 110.865 59.8218 110.865 60.534C110.747 61.2461 111.103 61.8396 112.052 62.077C113.002 62.4331 114.07 62.5518 115.138 62.7892C117.038 63.264 118.106 62.1957 117.75 60.2966C117.275 57.6853 116.682 54.9553 116.207 52.3441C115.613 49.3767 115.02 46.4093 114.545 43.442C114.426 42.6111 114.308 41.6616 113.952 40.8307C113.595 39.6438 112.527 39.2877 111.459 39.8811C110.865 40.2372 110.628 40.712 110.509 41.4242C110.272 42.6111 110.035 43.6794 109.797 44.8663C108.61 49.8515 107.423 54.9553 106.355 59.9405C106.236 60.2966 106.236 60.6527 106.236 60.8901C106.236 61.9583 106.83 62.6705 107.661 62.7892C108.61 62.9079 109.441 62.4331 109.797 61.4835C109.916 60.8901 110.035 60.2966 110.153 59.8218C110.628 57.5666 110.984 55.4301 111.459 53.1749C111.578 52.3441 111.934 51.5132 112.171 50.6823C112.29 50.6823 112.408 50.6823 112.527 50.6823C112.646 51.0384 112.765 51.2758 112.765 51.6319C113.002 52.8188 113.121 54.1245 113.239 55.3114C113.358 56.1423 113.477 56.8545 113.714 57.6853C113.477 58.7536 113.358 58.7536 112.527 58.991Z" fill="#221F1F"/>
    <path d="M42.026 61.2463C41.4325 61.8398 41.3138 62.4332 41.5512 63.2641C41.7886 63.8576 42.5008 64.451 43.2129 64.3323C43.6877 64.2136 44.1625 64.095 44.3999 63.7389C46.7738 61.8398 48.0794 59.4659 47.4859 56.2611C46.8924 53.1751 45.7055 50.5638 42.9755 48.6647C41.7886 47.8338 40.483 47.4778 38.8212 47.7151C37.0408 47.5964 35.3791 48.4273 33.5987 49.0208C33.1239 49.1395 32.7678 49.4956 32.4118 49.7329C31.8183 50.089 31.5809 50.6825 31.6996 51.3947C31.6996 51.7507 31.937 52.2255 32.0557 52.5816C33.7174 56.4985 35.2604 60.4154 36.9221 64.3323C37.1595 64.8071 37.3969 65.2819 37.6343 65.638C38.2278 66.3501 38.8212 66.5875 39.6521 66.2315C40.483 65.8754 40.9577 65.0445 40.7203 64.2136C40.7203 63.9763 40.6017 63.6202 40.483 63.3828C39.296 60.5341 38.1091 57.6855 37.0408 54.9555C36.8034 54.362 36.4474 53.7685 36.21 53.1751C35.8539 52.3442 36.0913 52.1068 36.8034 51.8694C37.2782 51.7507 37.6343 51.6321 38.1091 51.5134C40.0082 51.0386 41.3138 51.6321 42.5008 53.1751C43.3316 54.362 43.6877 55.6677 44.0438 56.9733C44.2812 57.9228 44.1625 58.8724 43.569 59.5846C43.0942 60.178 42.6195 60.6528 42.026 61.2463Z" fill="#221F1F"/>
    <path d="M146.001 148.368C146.831 148.368 147.425 148.843 148.137 149.08C150.867 149.792 153.478 151.098 155.852 152.76C156.564 153.234 157.158 153.828 157.87 154.184C158.582 154.54 159.176 155.134 159.65 155.727C160.244 156.439 160.837 157.033 161.55 157.626C162.143 158.101 162.855 158.101 163.567 157.864C164.161 157.626 164.517 157.033 164.517 156.202C164.398 155.964 164.28 155.49 163.923 155.134C163.211 154.303 162.499 153.472 161.668 152.76C158.701 150.148 155.496 148.012 151.817 146.588C148.493 145.282 145.17 144.57 141.609 145.163C137.217 145.875 133.3 147.893 129.739 150.505C129.383 150.742 129.027 151.098 128.79 151.454C128.078 152.285 128.196 153.353 129.027 153.947C129.739 154.54 130.689 154.54 131.52 153.709C133.775 151.691 136.505 150.623 139.354 149.436C141.371 148.368 143.745 148.487 146.001 148.368Z" fill="#221F1F"/>
    <path d="M137.578 158.457C137.815 158.338 138.053 158.101 138.29 157.982C139.121 157.626 139.833 156.914 140.901 157.033C140.901 157.27 141.02 157.389 141.02 157.626C141.139 160.356 143.394 162.967 146.124 163.442C148.854 163.917 151.228 163.205 152.771 160.712C153.364 159.763 153.72 159.881 154.314 160.831C154.67 161.543 154.907 162.255 155.382 162.849C155.857 163.68 156.688 163.798 157.519 163.561C158.231 163.205 158.824 162.493 158.587 161.662C158.468 161.068 158.231 160.475 157.993 160C157.044 158.576 155.976 157.27 154.551 156.202C154.076 155.846 153.364 155.608 152.771 155.371C151.703 155.133 150.99 155.608 150.634 156.677C150.516 156.914 150.516 157.151 150.516 157.389C150.16 159.169 148.616 160.356 146.955 159.881C145.293 159.525 144.344 157.863 144.818 156.083C144.937 155.727 145.056 155.49 145.174 155.133C145.53 153.947 144.818 152.997 143.631 152.878C143.275 152.76 142.801 152.76 142.326 152.878C140.071 153.234 138.053 153.947 136.154 155.252C135.798 155.49 135.56 155.727 135.323 156.083C134.729 156.795 134.848 157.626 135.441 158.22C136.035 158.694 136.866 158.932 137.578 158.457Z" fill="#221F1F"/>
    <path d="M143.031 172.7C145.761 172.938 148.491 173.294 151.459 173.531C153.595 173.294 155.851 173.056 158.106 172.7C162.141 172.107 165.583 170.208 168.313 167.24C169.144 166.291 170.094 165.223 170.213 163.798C170.331 162.967 169.975 162.255 169.263 161.899C168.551 161.543 167.483 161.78 167.008 162.493C166.77 162.849 166.533 163.205 166.414 163.561C165.821 164.748 164.99 165.697 163.922 166.41C161.073 168.427 157.868 169.258 154.545 169.614C150.865 169.97 147.186 169.614 143.506 169.14C142.082 168.902 141.014 169.614 140.895 170.683C140.776 171.632 141.607 172.582 143.031 172.7Z" fill="#221F1F"/>
    <path d="M84.6343 127.359C86.7708 128.071 88.7886 129.021 90.4503 130.564C91.2812 131.276 91.9934 132.225 92.8242 132.938C93.0616 133.175 93.1803 133.412 93.4177 133.531C94.1299 134.125 95.0794 134.125 95.6729 133.531C96.2664 132.938 96.5038 131.988 95.9103 131.276C95.1981 130.326 94.486 129.614 93.6551 128.783C91.3999 126.409 88.5512 124.866 85.3465 123.798C82.1417 122.73 78.8183 122.73 75.3761 122.967C74.5453 123.086 73.5957 123.205 72.7648 123.442C71.8153 123.679 71.4592 124.273 71.4592 124.985C71.3405 126.291 72.4088 127.122 73.8331 126.765C77.5126 126.053 81.1922 126.172 84.6343 127.359Z" fill="#221F1F"/>
    <path d="M74.6677 146.944C74.9051 147.3 75.2612 147.656 75.6173 147.893C76.2108 148.368 77.0416 148.249 77.6351 147.775C78.2286 147.3 78.466 146.588 78.2286 145.876C78.1099 145.519 77.9912 145.282 77.7538 145.045C76.2108 143.027 74.3117 141.246 72.0565 139.941C69.0891 138.16 65.8844 137.804 62.6796 137.686C60.5431 137.567 58.5253 138.042 56.5075 138.516C55.4393 138.754 54.8458 139.703 55.0832 140.653C55.2019 141.484 56.0328 142.077 57.101 141.959C57.3384 141.959 57.5758 141.84 57.8132 141.84C58.644 141.721 59.4749 141.484 60.3057 141.365C66.0031 140.653 70.8695 142.196 74.6677 146.944Z" fill="#221F1F"/>
    <path d="M45.1117 150.979C47.6042 150.86 49.8594 151.454 51.9959 152.522C54.7259 153.828 57.0998 155.608 58.9989 157.863C59.355 158.219 59.7111 158.575 60.0671 158.931C60.7793 159.406 61.3728 159.406 61.9663 158.813C62.9158 158.101 62.9158 157.032 62.0849 156.083C60.5419 154.184 58.6428 152.641 56.625 151.216C53.3016 148.842 49.622 147.537 45.4677 147.418C45.1117 147.418 44.6369 147.418 44.1621 147.537C43.4499 147.774 42.8565 148.249 42.8565 148.961C42.7378 149.792 43.0939 150.504 43.806 150.86C44.2808 150.979 44.7556 150.979 45.1117 150.979Z" fill="#221F1F"/>
    <path d="M2.14115 154.659C1.78506 154.421 1.42899 154.184 1.0729 154.065C-0.351431 153.709 -1.53838 154.777 -1.1823 156.202C-1.0636 156.677 -0.70752 157.033 -0.351437 157.389C1.0729 158.576 2.49723 159.763 3.68418 161.306C5.4646 163.798 7.00763 166.291 7.7198 169.377C7.83849 169.852 8.07588 170.445 8.43196 170.801C8.78805 171.395 9.7376 171.513 10.4498 171.157C11.0432 170.92 11.518 170.326 11.518 169.496C11.518 169.377 11.518 169.139 11.3993 169.021C10.8059 167.359 10.4498 165.46 9.61891 163.917C7.83849 160.356 5.22721 157.27 2.14115 154.659Z" fill="#221F1F"/>
    <path d="M39.1739 159.525C37.5122 157.508 35.4944 155.846 33.1205 154.659C32.0523 154.184 30.984 153.828 29.6784 153.353C29.2036 153.591 28.6101 153.828 28.3727 154.184C27.5419 155.134 27.898 156.439 29.0849 156.914C30.0345 157.27 30.984 157.508 31.9336 157.982C35.1383 159.644 37.3935 162.255 39.1739 165.46C39.53 166.054 39.8861 166.766 40.3609 167.241C40.9543 167.834 41.7852 167.834 42.4974 167.478C43.2095 167.003 43.5656 166.172 43.3282 165.341C43.2095 164.985 42.9721 164.629 42.8535 164.273C41.6665 162.611 40.4796 161.068 39.1739 159.525Z" fill="#221F1F"/>
    <path d="M18.8779 156.558C17.9284 155.846 16.7414 155.49 15.5545 155.133C14.6049 154.777 13.6554 155.371 13.2993 156.083C12.9432 156.914 13.418 157.982 14.2489 158.457C14.4863 158.576 14.7236 158.694 15.0797 158.813C18.1658 159.763 20.1836 162.018 21.4892 164.866C22.2014 166.291 22.6762 167.834 23.2696 169.258C23.6257 170.089 24.2192 170.445 25.0501 170.326C26.1183 170.089 26.5931 169.495 26.5931 168.19C26.4744 167.952 26.4744 167.478 26.237 167.003C25.9996 166.172 25.6435 165.341 25.2874 164.51C24.1005 161.306 21.8453 158.576 18.8779 156.558Z" fill="#221F1F"/>
    <path d="M229.084 196.083C228.016 195.489 226.948 195.252 225.879 194.777C225.048 194.896 224.336 195.371 223.98 196.083C223.743 196.795 223.862 197.626 224.574 198.101C224.93 198.338 225.405 198.457 225.761 198.694C227.066 199.288 228.372 199.881 229.44 200.712C231.221 202.136 232.645 203.917 233.476 206.053C233.594 206.409 233.713 206.647 233.951 206.884C234.544 207.834 235.612 208.071 236.443 207.596C237.274 207.122 237.511 206.172 237.037 205.222C236.443 204.154 235.85 203.086 235.256 202.136C233.832 199.406 231.695 197.507 229.084 196.083Z" fill="#221F1F"/>
    <path d="M167.721 363.68L158.582 366.884L152.884 350.386L162.024 347.181C162.973 346.825 163.567 345.757 163.211 344.689C162.855 343.62 161.786 343.145 160.718 343.502L149.798 347.3C148.849 347.656 148.255 348.724 148.611 349.792L155.614 369.97C155.97 371.039 157.039 371.513 158.107 371.157L169.027 367.359C169.976 367.003 170.57 365.935 170.214 364.866C169.858 363.917 168.789 363.323 167.721 363.68Z" fill="#221F1F"/>
    <path d="M161.079 354.777L157.993 355.846C157.043 356.202 156.45 357.27 156.806 358.338C157.162 359.407 158.23 359.881 159.298 359.525L162.384 358.457C163.334 358.101 163.927 357.033 163.571 355.964C163.215 354.896 162.147 354.421 161.079 354.777Z" fill="#221F1F"/>
    <path d="M260.418 287.834C259.469 287.24 258.282 287.596 257.807 288.546L252.822 296.854L237.866 287.834L242.852 279.525C243.445 278.576 243.089 277.389 242.139 276.914C241.19 276.32 240.003 276.676 239.528 277.626L233.475 287.596C232.881 288.546 233.237 289.733 234.187 290.208L252.466 301.246C253.415 301.84 254.602 301.484 255.077 300.534L261.131 290.564C261.605 289.495 261.368 288.308 260.418 287.834Z" fill="#221F1F"/>
    <path d="M248.55 290.564L250.212 287.715C250.806 286.765 250.45 285.578 249.5 285.104C248.55 284.51 247.363 284.866 246.888 285.816L245.227 288.664C244.633 289.614 244.989 290.801 245.939 291.276C246.77 291.75 247.957 291.513 248.55 290.564Z" fill="#221F1F"/>
    <path d="M212.231 314.184C211.519 313.472 210.214 313.353 209.501 314.184C208.789 314.896 208.671 316.202 209.501 316.914L224.338 332.225C225.05 332.938 226.356 333.056 227.068 332.225C227.78 331.513 227.899 330.208 227.068 329.496L212.231 314.184Z" fill="#221F1F"/>
    <path d="M77.5147 351.098L62.2032 347.537C61.1349 347.3 60.0667 347.893 59.8293 348.961C59.5919 350.03 60.1854 351.098 61.2536 351.335L76.5651 354.896C77.6334 355.134 78.7016 354.54 78.939 353.472C79.1764 352.404 78.4642 351.335 77.5147 351.098Z" fill="#221F1F"/>
    <path d="M68.7324 354.184C67.6641 353.947 66.5959 354.54 66.3585 355.608L62.6789 371.513C62.4415 372.582 63.035 373.65 64.1032 373.887C65.1715 374.125 66.2398 373.531 66.4771 372.463L70.1567 356.558C70.3941 355.49 69.6819 354.422 68.7324 354.184Z" fill="#221F1F"/>
    <path d="M90.3339 352.403L87.4852 352.166C86.5357 352.047 85.7048 352.76 85.4674 353.59L80.1262 375.074C79.8888 376.142 80.4823 377.21 81.5505 377.448C82.6188 377.685 83.687 377.092 83.9244 376.023L88.5535 357.151L90.4526 371.394L88.3161 371.276C87.2478 371.157 86.2983 371.988 86.2983 373.056C86.1796 374.124 87.0104 375.074 88.0787 375.074L90.8086 375.311H90.9273L91.1647 376.736C91.2834 377.685 91.9956 378.397 92.9451 378.397C93.0638 378.397 93.1825 378.397 93.3012 378.397C94.3695 378.279 95.0816 377.329 94.9629 376.261L91.9956 354.184C91.9956 353.116 91.2834 352.403 90.3339 352.403Z" fill="#221F1F"/>
    <path d="M119.53 364.51C120.955 363.205 121.786 361.424 121.667 359.05C121.311 354.302 117.157 352.878 114.427 352.997L107.186 353.472C106.118 353.59 105.287 354.421 105.406 355.489L106.949 376.736C107.068 377.804 107.898 378.635 108.967 378.516C110.035 378.398 110.866 377.567 110.747 376.499L109.323 357.151L114.664 356.795C115.139 356.795 117.631 356.676 117.75 359.169C117.987 362.136 114.783 362.611 113.833 362.611C112.765 362.73 112.053 363.561 112.053 364.629C112.053 365.697 113.002 366.528 114.071 366.528C114.783 366.528 118.343 366.647 118.7 370.326C118.818 371.513 118.581 372.344 117.987 372.938C117.038 374.006 115.139 374.243 114.545 374.243C113.477 374.243 112.646 375.074 112.646 376.142C112.646 377.211 113.477 378.042 114.545 378.042C114.664 378.042 114.783 378.042 115.02 378.042C116.207 377.923 118.937 377.567 120.836 375.549C121.786 374.599 122.854 372.819 122.616 369.97C122.26 367.478 121.073 365.579 119.53 364.51Z" fill="#221F1F"/>
    <path d="M145.289 370.445L138.049 371.869L134.132 352.404C133.895 351.335 132.945 350.623 131.877 350.861C130.809 351.098 130.096 352.047 130.334 353.116L134.607 374.481C134.844 375.549 135.794 376.261 136.862 376.024L146.001 374.124C147.07 373.887 147.782 372.938 147.544 371.869C147.307 370.92 146.358 370.208 145.289 370.445Z" fill="#221F1F"/>
    <path d="M201.309 321.305C200.241 321.661 199.766 322.73 200.122 323.798L205.108 338.753L193.119 328.664C192.289 327.952 191.102 328.071 190.389 328.902C189.677 329.733 189.796 330.92 190.627 331.632L207.956 346.112H208.075C208.431 346.35 208.668 346.469 209.143 346.469C209.143 346.469 209.143 346.469 209.262 346.469C209.499 346.469 209.737 346.469 209.974 346.35C210.093 346.35 210.33 346.231 210.449 346.112C210.805 345.875 211.042 345.519 211.161 345.163C211.28 344.807 211.28 344.332 211.161 343.976L203.921 322.492C203.446 321.543 202.378 321.068 201.309 321.305Z" fill="#221F1F"/>
    <path d="M200.362 342.552C200.006 341.484 198.938 341.009 197.87 341.365C196.801 341.721 196.327 342.789 196.683 343.857L196.92 344.57L184.932 334.481C184.101 333.769 182.914 333.887 182.202 334.718C181.49 335.549 181.609 336.736 182.439 337.448L199.769 351.929C200.481 352.522 201.431 352.522 202.143 352.047C202.855 351.572 203.092 350.623 202.855 349.792L200.362 342.552Z" fill="#221F1F"/>
    <path d="M228.73 296.498C227.899 295.786 226.712 295.905 226 296.736C225.288 297.567 225.406 298.754 226.237 299.466L236.564 308.249L220.54 304.807C219.709 304.57 218.76 305.044 218.403 305.875C218.047 306.706 218.166 307.656 218.878 308.249L235.258 322.018C236.089 322.73 237.276 322.611 237.988 321.78C238.7 320.949 238.581 319.763 237.751 319.05L227.305 310.267L243.329 313.709C244.16 313.946 245.11 313.472 245.466 312.641C245.822 311.81 245.703 310.86 244.991 310.267L228.73 296.498Z" fill="#221F1F"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="400" height="400" fill="white" transform="translate(-96)"/>
    </clipPath>
    </defs>
  </svg>
{% endif %}

{{- icons -}}
