<div
  class="header-livesearch"
  data-search
>
  <div class="header-search-overlay" data-search-overlay></div>
  <form
    action="/search"
    method="get"
    name="search-form"
    autocomplete="off"
    class="livesearch-form"
    data-search-form
  >
    <div class="livesearch-form-wrapper">
      <input
        type="text"
        name="q"
        placeholder="{{ 'general.search.input_placeholder' | t }}"
        class="livesearch-input"
        data-search-form-input
      />
      <button
        class="livesearch-button-close button"
        type="button"
        aria-label="{{ 'general.search.form_close' | t }}"
        data-search-form-button-close
      >
        {% include 'icon' with 'close' %}
      </button>
    </div>
  </form>

  {% include 'live-search-results' %}
</div>
