<div class="minicart" id="minicart">
  <div class="minicart-wrapper">
    <div class="minicart-header">
      <div class="minicart-close" data-cart-close>CLOSE</div>
      <div class="minicart-title">Your Bag</div>
    </div>
    <div class="minicart-content" {% if cart.item_count == 0 %}data--hidden{% endif %}>
      <div class="minicart-items"></div>
      <div class="minicart-summary">
        <div class="subtotal">
          <div><span class="label">Subtotal</span><span class="total-price" minicart-total-price>{{ cart.total_price | money }}</span></div>
          <div><span class="label">Taxes & Shipping</span><span>Included</span></div>
        </div>
        <form action="{{ routes.cart_url }}" method="post">
          <div class="cart_note">
            <div class="label"><span class="label">Gifting this wine?</span><span data-note-trigger>ADD A NOTE</span></div>
            <textarea name="note" id="note" placeholder="Include message here...">{{ cart.note }}</textarea>
          </div>
          <div class="cart-checkout">
            <button name="checkout" type="submit" class="cart-checkout-button button">
              <span>
                {{ 'cart.submit' | t }} – <span minicart-total-price>{{ cart.total_price | money }}</span>
              </span>
            </button>
          </div>
          <div class="minicart-bottom-info">
            Someone 21+ must sign for deliveries.
          </div>
        </form>
      </div>
    </div>
    <div class="minicart-empty" {% if cart.item_count > 0 %}data--hidden{% endif %}>
      <div class="empty_title">Your bag is currently empty</div>
      <div class="continue_shopping">
        <a href="/collections/all">CONTINUE SHOPPING</a>
      </div>
    </div>
  </div>
</div>