{% comment %}
  This component is just a standard list of navigation items. It acts recursively
  so that navigation can be nested. This navigation is always a submenu of another
  parent navigation link.

  @param menu LinkedList
         The menu handle to look up.

  @param depth Number
         The starting depth to use for the class names.

  @param max_depth Number
         The maximum depth to traverse.

  @param aria_expanded Bool
         a11y helper

  @param menu_title String
         Menu title must be passed in

  @param show_arrows Bool
        Option to display dropdown arrows.

  @param arrow_icons Array
        Array of arrow_icon strings to apply different icons
        to different depths of menus, mapped to Array[depth - 1].

{% endcomment %}

{% assign menu_list = menu.links %}

<ul
  class="navmenu navmenu-depth-{{ depth }} navmenu-submenu"
  data-navmenu
  data-navmenu-submenu
  {% if menu_title %}aria-label="{{ menu_title }}"{% endif %}
>
  {% for menu_item in menu_list %}
    {% assign d = depth | plus: 1 %}

    {% assign show_subnav = true %}
    {% if d > max_depth or linklists[menu_item.handle] == blank %}
      {% assign show_subnav = false %}
    {% endif %}

    {% unless show_subnav %}
      <li
        class="navmenu-item navmenu-id-{{ menu_item.handle }}"
      >
        <a
          class="navmenu-link {% if menu_item.active %}navmenu-link-active{% endif %}"
          href="{{ menu_item.url }}"
        >
          {{ menu_item.title }}
        </a>
      </li>
    {% else %}
      {%- capture navmenu_item_classes -%}
        navmenu-item
        navmenu-item-parent
        navmenu-id-{{ menu_item.handle }}
      {%- endcapture -%}

      <li
        class="{{ navmenu_item_classes | strip_newlines }}"
        data-navmenu-parent
      >
        <a
          class="navmenu-link navmenu-link-parent {% if menu_item.active %}navmenu-link-active{% endif %}"
          href="{{ menu_item.url }}"
          {% if aria_expanded %}
            aria-expanded="true"
          {% else %}
            aria-haspopup="true"
            aria-expanded="false"
          {% endif %}
        >
          {{ menu_item.title }}

          {% if show_arrows %}
            <span class="navmenu-icon navmenu-icon-depth-{{ depth }}"
              data-navmenu-trigger
            >
              {% assign submenu_arrow_index = depth | minus: 1 %}
              {{ arrow_icons[submenu_arrow_index] }}
            </span>
          {% endif %}
        </a>

        {%
          include 'navlist',
          menu: menu_item,
          depth: d,
          max_depth: max_depth,
          show_arrows: show_arrows,
          aria_expanded: aria_expanded,
          arrow_icons: arrow_icons,
        %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
