{% assign all_arrow_icons = '' %}

{% for icon_index in (0..2) %}
  {% if arrow_icons[icon_index] %}
    {% assign all_arrow_icons = all_arrow_icons | append: '|' | append: arrow_icons[icon_index] %}
  {% else %}
    {% assign all_arrow_icons = all_arrow_icons | append: '|' | append: arrow_icons[0] %}
  {% endif %}
{% endfor %}

{% assign all_arrow_icons = all_arrow_icons | remove_first: '|' | split: '|' %}

  {% for menu_item in list %}
    {% assign show_subnav = true %}
    {% if linklists[menu_item.handle] == blank %}
      {% assign show_subnav = false %}
    {% endif %}

    {% assign aria_expanded = false %}
    {% assign show_meganav = false %}
    {% assign shopify_attributes = null %}
    {% assign meganav_block = null %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% assign meganav_trigger = block.settings.meganav_trigger | handle | strip %}
        {% if menu_item.handle == meganav_trigger and menu_item.links.size > 0 %}
          {% assign show_meganav = true %}
          {% assign shopify_attributes = block.shopify_attributes %}
          {% assign meganav_block = block %}
        {% elsif menu_item.title == meganav_trigger %}
          {% assign meganav_block = block %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {%- capture navmenu_item_classes -%}
      navmenu-item
      {% if show_subnav %}navmenu-item-parent{% endif %}
      navmenu-id-{{ menu_item.handle }}
      {% if show_meganav %}navmenu-meganav-item-parent{% endif %}
    {%- endcapture -%}

    <li class="{{ navmenu_item_classes | strip_newlines }}"
      {% if show_meganav %}data-navmenu-meganav-trigger{% endif %}
      {% if show_subnav %}data-navmenu-parent{% endif %}
      {{ shopify_attributes }}
    >
      <a
        class="navmenu-link {% if show_subnav %}navmenu-link-parent{% endif %} {% if menu_item.active %}navmenu-link-active{% endif %}"
        href="{{ menu_item.url }}"
        {% if show_subnav and aria_expanded %}
          aria-expanded="true"
        {% elsif show_subnav %}
          aria-haspopup="true"
          aria-expanded="false"
        {% endif %}
      >
        {{ menu_item.title }}
        {% if show_subnav %}
          <span class="navmenu-icon navmenu-icon-depth-1"
            data-navmenu-trigger
          >
            {{ all_arrow_icons[0] }}
          </span>
        {% endif %}
      </a>
      {% if show_meganav %}
        {% if mobile_menu %}
          {%
            include 'meganav-mobile',
            menu: menu_item,
            block: meganav_block,
            max_depth: 3,
            show_arrows: true,
            arrow_icons: all_arrow_icons,
          %}
        {% else %}
          {%
            include 'meganav',
            menu: menu_item,
            block: meganav_block,
            max_depth: 3,
            arrow_icons: all_arrow_icons,
          %}
        {% endif %}
      {% elsif show_subnav %}
        {%
          include 'navlist',
          menu: menu_item,
          depth: 2,
          max_depth: 3,
          show_arrows: true,
          aria_expanded: false,
          arrow_icons: all_arrow_icons,
        %}
      {% endif %}
    </li>
  {% endfor %}
