{% assign success_message = '' %}
{% assign error_message = '' %}

<div class="newsletter-subscription">
  {% if block.settings.title != blank %}
    <h4>{{ block.settings.title }}</h4>
  {% endif %}

  {% comment %}
  {% form 'customer', class: 'newsletter-subscription-form' %}
      <input class="newsletter-email" name="contact[email]" type="email" placeholder="Enter your email" value="">
      <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
      <button class="newsletter-submit button" type="submit">SUBSCRIBE{% include 'icon' with 'mail' %}</button>
      {% if form.posted_successfully? %}
        {% capture success_message %}
          <p class="newsletter-success">
            {{ 'general.general.newsletter_success' | t }}
          </p>
        {% endcapture %}
    {% endif %}
    {% if form.errors.size > 0 %}
      {% capture error_message %}
        <p class="newsletter-error">
          {{ form.errors | default_errors }}
        </p>
      {% endcapture %}
    {% endif %}
  {% endform %}
  {{ success_message }}
  {{ error_message }}
  {% endcomment %}


  <form id="email_signup" class="klaviyo_styling klaviyo_gdpr_embed_SLYZCM" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">

    <input type="hidden" name="g" value="SLYZCM">
    <input type="hidden" name="$fields" value="$consent,email">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group" data-field-group>
      <div class="klaviyo_field_group klaviyo_form_actions" style="display: none;">
        <div class="klaviyo_helptext"> How would you like to hear from us? (please select at least one option) 
        </div>
        <input type="checkbox" name="$consent" id="consent-email" value="email">
        <label for="consent-email">Email</label><br>
        <input type="checkbox" name="$consent" id="consent-web" value="web">
        <label for="consent-web">Online advertisements</label>
        <div class="klaviyo_helptext klaviyo_gdpr_text"> We use email and targeted online advertising to send you product and services updates, promotional offers and other marketing communications based on the information we collect about you, such as
            your email address, general location, and purchase and website browsing history. <br>
            <br>
            We process your personal data as stated in our Privacy Policy {Insert privacy policy link}. You may withdraw your consent or manage your preferences at any time by clicking the unsubscribe link at the bottom of any of our marketing emails, or
            by emailing us at {insert customer support email address}.
        </div>
      </div>
  
  
      <div class="form_header" data--hidden>
        <div class="form_title">Be the first to know</div>
        <div class="form_subtitle">
          We will notify you once the item is back in stock.
        </div>
      </div>
      <div>
        <label for="k_id_email"></label>
        <input type="text" id="k_id_email" name="email" placeholder="Enter your email">
      </div>
        
    </div>
    <div class="klaviyo_messages">
        <div class="success_message" style="display:none;"></div>
        <div class="error_message" style="display:none;"></div>
    </div>
    <div class="klaviyo_form_actions">
        <button type="submit" class="klaviyo_submit_button">SUBSCRIBE</button>
    </div>
  
  </form>



</div>
