<div class="product-info">
  <div class="title product-title">{{ product.title }}</div>
  {% if product.description != blank %}
    <div class="product-description">{{ product.description }}</div>
  {% endif %}
</div>