<p class="account-logged-in-as">
  {{ 'customers.general.logged_in_as' | t: customer_name: customer.name }} (<em>{{ 'customers.general.logout' | t | customer_logout_link }}</em>)
  &bull; <a href="{{ routes.account_addresses_url }}">{{ 'customers.addresses.title' | t }} ({{ customer.addresses_count }})</a>
</p>

<!-- Begin ReCharge code -->
<p id="rc_link_container">
  <a href="/tools/recurring/login">Manage Subscriptions</a>
<!-- End ReCharge code -->
&bull; <a href="{{ routes.account_addresses_url }}">{{ 'customers.addresses.title' | t }} ({{ customer.addresses_count }})</a>
</p>

{% if customer.addresses.size > 0 %}
  <div class="default-address">

    <h3>{{ 'customers.account.default_address' | t }}</h3>

    <p>
      <span>{{ customer.default_address.first_name }} {{ customer.default_address.last_name }}</span><br>
      {% if customer.default_address.company != blank %}
        <span>{{ customer.default_address.company }}</span><br>
      {% endif %}
      {% if customer.default_address.street != blank %}
        <span>{{ customer.default_address.street }}</span><br>
      {% endif %}
      {% if customer.default_address.city != blank or customer.default_address.province_code != blank %}
        <span>{{ customer.default_address.city }}{% if customer.default_address.province_code %}, {{ customer.default_address.province_code }}{% endif %}</span><br>
      {% endif %}
      {% if customer.default_address.country != blank or customer.default_address.zip != blank %}
        <span>{{ customer.default_address.country }} {{ customer.default_address.zip }}</span><br>
      {% endif %}
      {% if customer.default_address.phone != blank %}
        <span>{{ customer.default_address.phone }}</span><br>
      {% endif %}
    </p>

    <p class="meta"><a href="{{ routes.account_addresses_url }}">{{ 'customers.addresses.edit' | t }}</a></p>

  </div>
{% endif %}

<div class="order-history">

  <h3>{{ 'customers.account.order_history' | t }}</h3>

  <table class="order-history-orders">
    <thead>
      <tr>
        <th class="first">{{ 'customers.account.order' | t }}</th>
        <th>{{ 'customers.account.payment' | t }}</th>
        <th>{{ 'customers.account.fulfillment' | t }}</th>
        <th class="last">{{ 'general.general.total' | t }}</th>
      </tr>
    </thead>

    <tbody>
      {% if customer.orders.size > 0 %}
        {% for order in customer.orders %}
          <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td class="order-number first">{{ order.name | link_to: order.customer_url }} <span class="date">- {{ order.created_at | date: format: 'short_month' }}</span></td>
            <td class="order-payment-status {{ order.financial_status_label }}">{{ order.financial_status_label | capitalize }}</td>
            <td class="order-fulfillment-status {{ order.fulfillment_status_label }}">{{ order.fulfillment_status_label | capitalize }}</td>
            <td class="total last"><span class="money">{{ order.total_price | money }}</span></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="no-orders">{{ 'customers.account.no_orders' | t }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

</div>
