<p class="account-logged-in-as">{{ 'customers.general.logged_in_as' | t: customer_name: customer.name }} (<em>{{ 'customers.general.logout' | t | customer_logout_link }}</em>)</p>

<div class="order-history">

  <table class="order-history-order">
    <thead>
      <tr>
        <th class="first">{{ 'general.general.product' | t }}</th>
        <th>{{ 'general.general.quantity' | t }}</th>
        <th class="last">{{ 'general.general.total' | t }}</th>
      </tr>
    </thead>

    <tbody>
    {% for line_item in order.line_items %}
        {%- assign item_has_discounts = false -%}
        {%- if line_item.line_level_discount_allocations.size > 0 -%}
          {%- assign item_has_discounts = true -%}
        {%- endif -%}
      <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
        <td class="order-item first">
          <a href="{{ line_item.product.url }}">
          {% if line_item.image != blank %}
            {%
              include 'rimg',
              img: line_item.image,
              alt: line_item.title,
              lazy: true
              class: 'order-item-image',
            %}
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg order-item-image-placeholder-svg' }}
          {% endif %}
          </a>
          <div class="order-item-wrap">
            <span class="order-item-vendor">{{ line_item.vendor }}</span>
            <span class="order-item-title">{{ line_item.product.title | link_to: line_item.product.url }}</span>
            {% if line_item.variant.title != 'Default Title' %}
              {% for option in line_item.variant.options %}
                <span class="order-item-variant-option">{{ line_item.product.options[forloop.index0] }}: <span>{{ option }}</span></span>
              {% endfor %}
            {% endif %}

            {% if item_has_discounts %}
              <s class="original-price"><span class="money">{{ line_item.original_price | money }}</span></s>
            {% endif %}
              <span class="
                final-price
                {% if item_has_discounts %}final-price-discounted{% endif %}
                money
              ">{{ line_item.final_price | money }}</span>
            {%- if item_has_discounts -%}
              <ul class="order-item-discounts">
                {% for discount_allocation in line_item.line_level_discount_allocations %}
                  <li>
                    {% include 'icon' with 'sale-tag' %}
                    {{ discount_allocation.discount_application.title }}
                    (-<span class="money">{{ discount_allocation.amount | money }}</span>)
                  </li>
                {% endfor %}
              </ul>
            {%- endif -%}
          </div>
        </td>
        <td class="order-item-quantity">{{ line_item.quantity }}</td>
        <td class="order-item-total last">
          {%- if item_has_discounts -%}
            <s class="original-price"><span class="money">{{ line_item.original_line_price | money }}</span></s>
          {%- endif -%}
          <span class="final-price money">{{ line_item.final_line_price | money }}</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="order-totals">
    <ul class="sub-total">
      <li class="order-subtotal"><label>{{ 'general.general.subtotal' | t }}</label><span class="money">{{ order.line_items_subtotal_price | money }}</span></li>
      {%- if order.cart_level_discount_applications.size > 0 -%}
        {% for discount_application in order.cart_level_discount_applications %}
          <li class="order-discount">
            <div class="order-discount-title">
              {% include 'icon' with 'sale-tag' %}
              {{- discount_application.title -}}
            </div>
            <div class="order-discount-price">-<span class="money">{{ discount_application.total_allocated_amount | money }}</span></div>
          </li>
        {% endfor %}
      {%- endif -%}
      <li class="order-shipping"><label>{{ 'customers.order.shipping' | t }}</label><span class="money">{{ order.shipping_price | money }}</span></li>
      {% for tax_line in order.tax_lines %}
        <li class="order-tax {% include 'for-looper' %}"><label>{{ 'customers.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</label><span class="money">{{ tax_line.price | money }}</span></li>
      {% endfor %}
    </ul>

    <ul class="total">
      <li class="order-total"><label>{{ 'general.general.total' | t }}</label><span class="money">{{ order.total_price | money }}</span></li>
    </ul>
  </div>

</div>

<div class="shipping-info">

  <div class="shipping-address">
    <h3>{{ 'customers.order.shipping_address' | t }}</h3>
    <p>
      <span>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</span><br>
      {% if order.shipping_address.company != blank %}
        <span>{{ order.shipping_address.company }}</span><br>
      {% endif %}
      {% if order.shipping_address.street != blank %}
        <span>{{ order.shipping_address.street }}</span><br>
      {% endif %}
      {% if order.shipping_address.city != blank or order.shipping_address.province_code != blank %}
        <span>{{ order.shipping_address.city }}{% if order.shipping_address.province_code %}, {{ order.shipping_address.province_code }}{% endif %}</span><br>
      {% endif %}
      {% if order.shipping_address.country != blank or order.shipping_address.zip != blank %}
        <span>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</span><br>
      {% endif %}
      {% if order.shipping_address.phone != blank %}
        <span>{{ order.shipping_address.phone }}</span>
      {% endif %}
    </p>
  </div>

  <div class="billing-address">
    <h3>{{ 'customers.order.billing_address' | t }}</h3>
    <p>
      <span>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</span><br>
      {% if order.billing_address.company != blank %}
        <span>{{ order.billing_address.company }}</span><br>
      {% endif %}
      {% if order.billing_address.street != blank %}
        <span>{{ order.billing_address.street }}</span><br>
      {% endif %}
      {% if order.billing_address.city != blank or order.billing_address.province_code != blank %}
        <span>{{ order.billing_address.city }}{% if order.billing_address.province_code %}, {{ order.billing_address.province_code }}{% endif %}</span><br>
      {% endif %}
      {% if order.billing_address.country != blank or order.billing_address.zip != blank %}
        <span>{{ order.billing_address.country }} {{ order.billing_address.zip }}</span><br>
      {% endif %}
      {% if order.billing_address.phone != blank %}
        <span>{{ order.billing_address.phone }}</span>
      {% endif %}
    </p>
  </div>

</div>
