<div class="section_container" style="background: {{ section.settings.bg }}">
  <div class="main_content home-module-content">
    <div class="main_wrapper d-flex">
      <div class="title">{{ section.settings.title }}</div>
      <div class="list-wrapper d-flex">
        {% for block in section.blocks %}
          <div class="list-item">
            <div class="list_title">{{ block.settings.title }}</div>
            <div class="list_text">{{ block.settings.text }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Textlist",
  "tag": "section",
  "class": "custom-text-list",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}