<div class="section_container">
  <div class="main_content home-module-content">
    <div class="main_wrapper">
      {% if section.settings.title != blank %}
        <div class="title">{{ section.settings.title }}</div>
      {% endif %}
      <div class="blog-wrapper" data-mob-slider>
        {% for block in section.blocks %}
          <div class="blog_item">
            <div class="image_wrapper">{% include 'rimg', img: block.settings.image, size: '1440x640', lazy: true %}</div>
            <div class="content_wrapper">
              <div class="text_wrapper">
                <div class="item_title">{{ block.settings.title }}</div>
                <div class="item_text">{{ block.settings.text }}</div>
              </div>
              {% if block.settings.btn_link != blank and block.settings.btn_label != blank %}
                <div class="btn_wrapper">
                  <a href="{{ block.settings.btn_link }}">{{ block.settings.btn_label }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grid",
  "tag": "section",
  "class": "custom-blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "paragraph",
          "content": "Button"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label",
          "default": "Learn More"
        }
      ]
    }
  ]
}
{% endschema %}