<div data-section-id="{{ section.id }}" data-section-type="featured-blog">

  {% assign sectionBorder = section.settings.border %}
  {% assign featuredBlog = section.settings.blog %}

  <div class="home-module home-blog-posts row-of-3
    {% if sectionBorder %}has-border{% endif %}">

    <div class="home-module-content {% if section.settings.title != blank %}home-module-has-heading{% endif %}">

      {%
        include 'home-section-title',
        sectionTitle: section.settings.title,
      %}

      <div class="home-module-inline-items">
        {% if featuredBlog != blank %}
          {% for post in blogs[featuredBlog].articles limit: 3 %}
            <div class="home-blog-post">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

              <div class="home-blog-post-excerpt rte">
                {% if post.image %}
                  <a href="{{ post.url }}" class="home-blog-post-image">
                    {%
                      include 'rimg',
                      img: post.image,
                      alt: post.title,
                      size: '600x',
                      lazy: true
                    %}
                  </a>
                {% endif %}

                {% if post.excerpt != blank %}
                  {{ post.excerpt }}
                {% else %}
                  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                {% endif %}

                <p class="home-blog-post-cta"><a href="{{ post.url }}">{{ 'blogs.article.read_more' | t }}</a></p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          {% for i in (1..3) %}
            <div class="home-blog-post">
              <h3><a href="#">{{ 'onboarding.featured_blog.title' | t }}</a></h3>

              <div class="home-blog-post-excerpt rte">
                <a href="#" class="home-blog-post-image">
                  {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </a>

                <p>{{ 'onboarding.featured_blog.post_excerpt' | t }}</p>

                <p class="home-blog-post-cta"><a href="#">{{ 'blogs.article.read_more' | t }}</a></p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "border",
      "label": "Show border",
      "default": false
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog posts",
      "info": "Posts will be pulled from this blog."
    }
  ],
  "presets": [
    {
      "category": "Blog",
      "name": "Blog posts",
      "settings": {
        "blog": ""
      }
    }
  ]
}

{% endschema %}