<div class="section_container" style="background: {{ section.settings.bg }}">
  <div class="main_content home-module-content">
    {% if section.settings.title != blank %}
      <div class="title" style="max-width: {{ section.settings.max_width }}px;">{{ section.settings.title }}</div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="icon-block-wrapper" data-mob-slider>
        {% for block in section.blocks %}
          <div class="icon-block-item">
            <div class="icon_wrapper">
              {{ block.settings.icon }}
            </div>
            <div class="text_wrapper">
              <div class="block_title">{{ block.settings.title }}</div>
              <div class="block_text">{{ block.settings.content }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "Icon grid",
  "tag": "section",
  "class": "icon-block",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#FFF"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 0,
      "label": "Max width"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon (svg)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Grid",
      "name": "Icon grid"
    }
  ]
}
{% endschema %}