{% if current_tags %}
  <h2>{{ 'blogs.blog.tag_page_title' | t: tag: current_tags.first }}</h2>
{% endif %}

<div class="main_content home-module-content">

{% paginate blog.articles by 5 %}

  <div class="blog-posts">
    {% for article in blog.articles %}
      {% include 'article-list-item' %}
    {% else %}
      <span class="empty">{{ 'blogs.blog.empty' | t }}</span>
    {% endfor %}
  </div>

  {% if paginate.previous or paginate.next %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

</div>